pipeline/16_CK_VOUCHER_ROW_TAB_ZL.json
{
	"name": "16_CK_VOUCHER_ROW_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_CK_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BLOB_TO_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "company",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_YEAR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "accounting_year",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "VOUCHER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "voucher_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ROW_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "row_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "VOUCHER_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "voucher_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "account",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_B",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_b",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_C",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_D",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_d",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_e",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_F",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_f",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_G",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_g",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_H",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_h",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_I",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_i",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_J",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_j",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_DEBET_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_debet_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_credit_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEBET_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "debet_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "QUANTITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "quantity",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PROCESS_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "process_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPTIONAL_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "optional_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARTY_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "party_type_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANS_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "trans_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERNAL_SEQ_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "internal_seq_number",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "REFERENCE_SERIE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference_serie",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UPDATE_ERROR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "update_error",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSFER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "transfer_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CORRECTED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "corrected",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "THIRD_CURRENCY_DEBIT_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "third_currency_debit_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "THIRD_CURRENCY_CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "third_currency_credit_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_PERIOD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "accounting_period",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PROJECT_ACTIVITY_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "project_activity_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MULTI_COMPANY_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "multi_company_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_RATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_rate",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CONVERSION_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "conversion_factor",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AUTO_TAX_VOU_ENTRY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "auto_tax_vou_entry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE_ROW_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference_row_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TAX_DIRECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_direction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "item_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TAX_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CURRENCY_TAX_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_tax_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "GROSS_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gross_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CURRENCY_GROSS_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_gross_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "TAX_BASE_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_base_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CURRENCY_TAX_BASE_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_tax_base_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "POSTING_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "posting_combination_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "YEAR_PERIOD_KEY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "year_period_key",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CURR_BALANCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "curr_balance",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROJECT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "project_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJECT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "object_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "voucher_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "REFERENCE_VERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference_version",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PARTY_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "party_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_ITEM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_item_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "MPCCOM_ACCOUNTING_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mpccom_accounting_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CURRENCY_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_TO_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型,由于执行时间为12点，所以删除前一天的一天",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch            FROM  [CK].[VOUCHER_ROW_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "VOUCHER_ROW_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "CK"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": "DELETE     FROM [CK].[VOUCHER_ROW_TAB]     WHERE EXISTS(SELECT TOP 1 1                  FROM [CKSTG].[VOUCHER_ROW_TAB]                  WHERE [CKSTG].[VOUCHER_ROW_TAB].[COMPANY] = [CK].[VOUCHER_ROW_TAB].[COMPANY]                  AND   [CKSTG].[VOUCHER_ROW_TAB].[ACCOUNTING_YEAR] = [CK].[VOUCHER_ROW_TAB].[ACCOUNTING_YEAR]                  AND   [CKSTG].[VOUCHER_ROW_TAB].[VOUCHER_NO] = [CK].[VOUCHER_ROW_TAB].[VOUCHER_NO]                  AND   [CKSTG].[VOUCHER_ROW_TAB].[VOUCHER_TYPE] = [CK].[VOUCHER_ROW_TAB].[VOUCHER_TYPE]                  AND   [CKSTG].[VOUCHER_ROW_TAB].[ROW_NO] = [CK].[VOUCHER_ROW_TAB].[ROW_NO]                   )"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select                        REPLACE(company, CHR(13) || CHR (10), '')   company,        accounting_year ,        voucher_no  ,        row_no  ,        REPLACE(voucher_type, CHR(13) || CHR (10), '')   voucher_type,        REPLACE(account, CHR(13) || CHR (10), '')        account,        REPLACE(code_b, CHR(13) || CHR (10), '')         code_b,        REPLACE(code_c, CHR(13) || CHR (10), '')         code_c,        REPLACE(code_d, CHR(13) || CHR (10), '')         code_d,        REPLACE(code_e, CHR(13) || CHR (10), '')         code_e,        REPLACE(code_f, CHR(13) || CHR (10), '')         code_f,        REPLACE(code_g, CHR(13) || CHR (10), '')         code_g,        REPLACE(code_h, CHR(13) || CHR (10), '')         code_h,        REPLACE(code_i, CHR(13) || CHR (10), '')         code_i,        REPLACE(code_j, CHR(13) || CHR (10), '')         code_j,        currency_debet_amount ,        currency_credit_amount ,        REPLACE(currency_code , CHR(13) || CHR (10), '')          currency_code ,        debet_amount ,        quantity ,        credit_amount ,        REPLACE(process_code, CHR(13) || CHR (10), '')       process_code,        REPLACE(optional_code, CHR(13) || CHR (10), '')      optional_code,        REPLACE(text, CHR(13) || CHR (10), '')               text,        REPLACE(party_type_id, CHR(13) || CHR (10), '')      party_type_id,        REPLACE(trans_code, CHR(13) || CHR (10), '')         trans_code,        REPLACE(reference_number, CHR(13) || CHR (10), '')   reference_number,        internal_seq_number ,        REPLACE(reference_serie, CHR(13) || CHR (10), '')   reference_serie,        REPLACE(update_error, CHR(13) || CHR (10), '')      update_error,        REPLACE(transfer_id, CHR(13) || CHR (10), '')       transfer_id,        REPLACE(corrected, CHR(13) || CHR (10), '')         corrected,        third_currency_debit_amount ,        third_currency_credit_amount ,        accounting_period ,        project_activity_id ,        REPLACE(multi_company_id , CHR(13) || CHR (10), '')   multi_company_id ,        currency_rate ,        conversion_factor ,        REPLACE( auto_tax_vou_entry  , CHR(13) || CHR (10), '')   auto_tax_vou_entry ,        reference_row_no  ,        REPLACE( tax_direction   , CHR(13) || CHR (10), '')   tax_direction  ,        item_id,        tax_amount,        currency_tax_amount,        gross_amount,        currency_gross_amount,        tax_base_amount,        currency_tax_base_amount,        posting_combination_id,        year_period_key,        REPLACE(curr_balance, CHR(13) || CHR (10), '')     curr_balance,        REPLACE(project_id, CHR(13) || CHR (10), '')       project_id,        REPLACE(object_id, CHR(13) || CHR (10), '')        object_id,        TO_CHAR(voucher_date , 'yyyy-mm-dd hh:mi:ss')          voucher_date ,        reference_version  ,        REPLACE(party_type, CHR(13) || CHR (10), '')       party_type,        tax_item_id    ,             TO_CHAR( rowversion, 'yyyy-mm-dd hh:mi:ss')           rowversion,        mpccom_accounting_id     ,        REPLACE(currency_type, CHR(13) || CHR (10), '')       currency_type    from IFSAPP.VOUCHER_ROW_TAB where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/CKP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T08:58:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}