pipeline/20_CK_SHOP_ORDER_OPERATION_TAB_ZL.json
{
	"name": "20_CK_SHOP_ORDER_OPERATION_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_CK_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}\n",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RELEASE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEQUENCE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPERATION_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "operation_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPERATION_DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "operation_description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WORK_CENTER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "work_center_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPER_STATUS_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "oper_status_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RUN_TIME_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "run_time_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EFFICIENCY_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "efficiency_factor",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MACH_RUN_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mach_run_factor",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MACH_SETUP_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mach_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MOVE_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "move_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUEUE_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "queue_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LABOR_CAPACITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "labor_capacity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LABOR_RUN_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "labor_run_factor",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "LABOR_SETUP_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "labor_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LABOR_CLASS_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "labor_class_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREW_SIZE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "crew_size",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_OP_ITEM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "outside_op_item",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARALLEL_OPERATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "parallel_operation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCHED_DIRECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sched_direction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CAPACITY_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "capacity_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OP_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "op_start_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OP_START_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "op_start_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OP_FINISH_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "op_finish_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OP_FINISH_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "op_finish_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REVISED_QTY_DUE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revised_qty_due",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_COMPLETE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_complete",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_SCRAPPED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_scrapped",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OP_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "op_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "MACHINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "machine_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_ACTIVITY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_activity_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_QTY_SHIPPED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "outside_qty_shipped",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BUFFER_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "buffer_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPERATION_SCHED_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "operation_sched_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCHEDULED_SETUP_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "scheduled_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BARCODE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "barcode_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_OP_COMPLETE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "outside_op_complete",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_OP_NOTES",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "outside_op_notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "release_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "operation_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "operation_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "operation_description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "operation_description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "work_center_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_center_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "oper_status_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "oper_status_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "run_time_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "run_time_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "efficiency_factor",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "efficiency_factor",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "mach_run_factor",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "mach_run_factor",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "mach_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "mach_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "move_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "move_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "queue_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "queue_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "labor_capacity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "labor_capacity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "labor_run_factor",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "labor_run_factor",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "labor_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "labor_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "labor_class_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "labor_class_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "crew_size",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "crew_size",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "outside_op_item",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "outside_op_item",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "parallel_operation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "parallel_operation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sched_direction",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "sched_direction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "capacity_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "capacity_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "op_start_date",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "op_start_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "op_start_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "op_start_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "op_finish_date",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "op_finish_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "op_finish_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "op_finish_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "revised_qty_due",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "revised_qty_due",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "qty_complete",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "qty_complete",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "qty_scrapped",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "qty_scrapped",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "op_id",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "op_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "machine_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "machine_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "note_id",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "note_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "last_activity_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "last_activity_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "rowversion",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "rowversion",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "outside_qty_shipped",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "outside_qty_shipped",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "buffer_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "buffer_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "operation_sched_status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "operation_sched_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "scheduled_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "scheduled_setup_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "barcode_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "barcode_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "outside_op_complete",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "outside_op_complete",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "outside_op_notes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "outside_op_notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT ISNULL(max(ROWVERSION),'1900-01-01') Batch  FROM [CK].[SHOP_ORDER_OPERATION_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "SHOP_ORDER_OPERATION_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "CK"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": "DELETE    FROM [CK].[SHOP_ORDER_OPERATION_TAB]     WHERE EXISTS(SELECT TOP 1 1                  FROM  [CKSTG].[SHOP_ORDER_OPERATION_TAB]                  WHERE [CKSTG].[SHOP_ORDER_OPERATION_TAB].[ORDER_NO] = [CK].[SHOP_ORDER_OPERATION_TAB].[ORDER_NO]                  AND   [CKSTG].[SHOP_ORDER_OPERATION_TAB].[RELEASE_NO] = [CK].[SHOP_ORDER_OPERATION_TAB].[RELEASE_NO]                  AND   [CKSTG].[SHOP_ORDER_OPERATION_TAB].[SEQUENCE_NO] = [CK].[SHOP_ORDER_OPERATION_TAB].[SEQUENCE_NO]                  AND   [CKSTG].[SHOP_ORDER_OPERATION_TAB].[OPERATION_NO] = [CK].[SHOP_ORDER_OPERATION_TAB].[OPERATION_NO]   )"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select REPLACE(order_no, CHR(13) || CHR(10), '') order_no,         REPLACE(release_no, CHR(13) || CHR(10), '') release_no,         REPLACE(sequence_no, CHR(13) || CHR(10), '') sequence_no,         operation_no,         REPLACE(operation_description, CHR(13) || CHR(10), '') operation_description,         REPLACE(work_center_no, CHR(13) || CHR(10), '') work_center_no,         REPLACE(contract, CHR(13) || CHR(10), '') contract,         REPLACE(part_no, CHR(13) || CHR(10), '') part_no,         REPLACE(oper_status_code, CHR(13) || CHR(10), '') oper_status_code,         REPLACE(run_time_code, CHR(13) || CHR(10), '') run_time_code,         efficiency_factor,         mach_run_factor,         mach_setup_time,         move_time,         queue_time,         REPLACE(labor_capacity, CHR(13) || CHR(10), '') labor_capacity,         labor_run_factor,         labor_setup_time,         REPLACE(labor_class_no , CHR(13) || CHR(10), '') labor_class_no ,         crew_size,         REPLACE(outside_op_item, CHR(13) || CHR(10), '') outside_op_item,         REPLACE(parallel_operation, CHR(13) || CHR(10), '') parallel_operation,         REPLACE(sched_direction, CHR(13) || CHR(10), '') sched_direction,         REPLACE(capacity_flag, CHR(13) || CHR(10), '') capacity_flag,         TO_CHAR(op_start_date, 'yyyy-mm-dd hh:mi:ss') op_start_date,         op_start_time,         TO_CHAR(op_finish_date, 'yyyy-mm-dd hh:mi:ss') op_finish_date,         op_finish_time,         revised_qty_due,         qty_complete,         qty_scrapped,         op_id,         REPLACE(machine_no, CHR(13) || CHR(10), '') machine_no,         note_id,         REPLACE(note_text, CHR(13) || CHR(10), '') note_text,         TO_CHAR(last_activity_date, 'yyyy-mm-dd hh:mi:ss') last_activity_date,         TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') rowversion,         outside_qty_shipped,         buffer_time,         REPLACE(operation_sched_status, CHR(13) || CHR(10), '') operation_sched_status,         scheduled_setup_time,         REPLACE(barcode_id, CHR(13) || CHR(10), '') barcode_id,         REPLACE(outside_op_complete, CHR(13) || CHR(10), '') outside_op_complete,         REPLACE(outside_op_notes, CHR(13) || CHR(10), '') outside_op_notes    from IFSAPP.SHOP_ORDER_OPERATION_TAB   where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/CKP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T08:59:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}