pipeline/21_CK_SHOP_ORD_TAB_ZL.json
{
	"name": "21_CK_SHOP_ORD_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_CK_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RELEASE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEQUENCE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIAL_BEGIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "serial_begin",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIAL_END",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "serial_end",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHOP_ORD_ROUT_SERIAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "shop_ord_rout_serial",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORG_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "org_start_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "REVISED_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revised_start_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ORG_DUE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "org_due_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "REVISED_DUE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revised_due_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "NEED_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "need_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "EARLIEST_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "earliest_start_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CLOSE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "close_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CLOSE_TOLERANCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "close_tolerance",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COMPLETE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "complete_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORG_QTY_DUE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "org_qty_due",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REVISED_QTY_DUE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revised_qty_due",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_COMPLETE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_complete",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QA_SCRAPPED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qa_scrapped",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_QA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_qa",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_REJECTED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_rejected",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_ON_ORDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_on_order",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_RELEASED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_released",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPERATION_SCRAPPED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "operation_scrapped",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_DIFF",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_diff",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARTIAL_DIRECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "partial_direction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARTIAL_OPERATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "partial_operation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRIORITY_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "priority_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REJECT_REASON",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reject_reason",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRE_ACCOUNTING_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pre_accounting_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SECURITY_CLASS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "security_class",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DATE_ENTERED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date_entered",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_ACTIVITY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_activity_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROJECT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "project_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACTIVITY_SEQ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "activity_seq",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_RELEASE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_SEQUENCE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SPLIT_REASON",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "split_reason",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRB_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrb_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALANCED_COST_DIFF",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "balanced_cost_diff",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "JOB_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "job_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCHED_CAPACITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sched_capacity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASSIGN_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "assign_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RESCHED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "resched_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CLOSE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "close_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCHED_DIRECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sched_direction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PICK_LIST",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pick_list",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WORK_INSTRUCT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "work_instruct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEMAND_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "demand_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RESCHED_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "resched_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PICKLIST_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "picklist_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ENG_CHG_LEVEL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "eng_chg_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STRUCTURE_ALTERNATIVE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "structure_alternative",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROUTING_REVISION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "routing_revision",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROUTING_ALTERNATIVE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "routing_alternative",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROPOSED_LOCATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "proposed_location",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROCESS_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "process_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_line_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_REL_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_rel_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_line_item_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRIORITY_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "priority_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONFIGURATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "configuration_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONDITION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "condition_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LOT_BATCH_STRING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "lot_batch_string",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAINT_LEVEL_STRUCT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "maint_level_struct",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAINT_LEVEL_ROUT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "maint_level_rout",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowstate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_OWNERSHIP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_ownership",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNING_CUSTOMER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "owning_customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRO_VISIT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mro_visit_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRO_INT_ORD_HEADER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mro_int_ord_header",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRO_INT_ORDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mro_int_order",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DISPO_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dispo_order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DISPO_RELEASE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dispo_release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DISPO_SEQUENCE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dispo_sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DISPO_LINE_ITEM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dispo_line_item",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "DESTINATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "destination",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IDENITIY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "idenitiy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_3200_hours",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "delete_3200_hours",
				"description": "数据会变动，需要删除后重新更新",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-3200,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch            FROM [CK].[SHOP_ORD_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "SHOP_ORD_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "CK"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": "DELETE     FROM [CK].[SHOP_ORD_TAB]     WHERE EXISTS(SELECT TOP 1 1                  FROM  [CKSTG].[SHOP_ORD_TAB]                  WHERE [CKSTG].[SHOP_ORD_TAB].[ORDER_NO] = [CK].[SHOP_ORD_TAB].[ORDER_NO]                  AND   [CKSTG].[SHOP_ORD_TAB].[RELEASE_NO] = [CK].[SHOP_ORD_TAB].[RELEASE_NO]                  AND   [CKSTG].[SHOP_ORD_TAB].[SEQUENCE_NO] = [CK].[SHOP_ORD_TAB].[SEQUENCE_NO]                  )"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select *   from IFSAPP.SHOP_ORD_TAB  where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			},
			"Table_Name": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/CKP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T08:59:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}