pipeline/23_CK_RETURN_MATERIAL_TAB_ZL.json
{
	"name": "23_CK_RETURN_MATERIAL_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_CK_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_TO_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CSV_TO_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RMA_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rma_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DATE_REQUESTED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date_requested",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RETURN_APPROVER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "return_approver_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUST_REF",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cust_ref",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RMA_REPORT_PRINTED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rma_report_printed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LANGUAGE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "language_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO_ADDR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no_addr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO_CREDIT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no_credit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO_CREDIT_ADDR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no_credit_addr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VAT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vat",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_ADDR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_addr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowstate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PRICE_WITH_TAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_with_tax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_RECEIPT_YEAR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_receipt_year",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "N_RECEIPT_MONTH",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_receipt_month",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "N_RECEIPT_PERIOD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_receipt_period",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_PART_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_part_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_FROM_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_from_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_TO_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_to_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_RECEIPT_CONTROL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_receipt_control",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型,由于是0点执行，所以同步时最好删除前一天的数据，再同步",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "  SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch            FROM [CK].[RETURN_MATERIAL_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "RETURN_MATERIAL_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "CK"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": " DELETE     FROM [CK].[RETURN_MATERIAL_TAB]     WHERE EXISTS(SELECT TOP 1 1                  FROM [CKSTG].[RETURN_MATERIAL_TAB]                  WHERE [CKSTG].[RETURN_MATERIAL_TAB].[RMA_NO] = [CK].[RETURN_MATERIAL_TAB].[RMA_NO])"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select rma_no,        TO_CHAR(date_requested, 'yyyy-mm-dd hh:mi:ss')           date_requested,        REPLACE(currency_code, CHR(13) || CHR (10), '')            currency_code,        REPLACE(customer_no, CHR(13) || CHR (10), '')              customer_no,        REPLACE(contract, CHR(13) || CHR (10), '')                 contract,        REPLACE(return_approver_id, CHR(13) || CHR (10), '')       return_approver_id,        REPLACE(cust_ref, CHR(13) || CHR (10), '')                 cust_ref,        REPLACE(rma_report_printed, CHR(13) || CHR (10), '')       rma_report_printed,        REPLACE(language_code, CHR(13) || CHR (10), '')            language_code,        note_id ,        REPLACE(note_text, CHR(13) || CHR (10), '')                       note_text,        REPLACE(customer_no_addr_no, CHR(13) || CHR (10), '')             customer_no_addr_no,        REPLACE(customer_no_credit, CHR(13) || CHR (10), '')              customer_no_credit,        REPLACE(customer_no_credit_addr_no, CHR(13) || CHR (10), '')      customer_no_credit_addr_no,        REPLACE(vat, CHR(13) || CHR (10), '')                             vat,        REPLACE(ship_addr_no, CHR(13) || CHR (10), '')                    ship_addr_no,        REPLACE(rowstate, CHR(13) || CHR (10), '')                        rowstate,        TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss')           rowversion,        REPLACE(price_with_tax, CHR(13) || CHR (10), '')            price_with_tax,        n_receipt_year ,        n_receipt_month ,        REPLACE(n_receipt_period, CHR(13) || CHR (10), '')        n_receipt_period,        REPLACE(n_part_type, CHR(13) || CHR (10), '')             n_part_type,        TO_CHAR(n_from_date, 'yyyy-mm-dd hh:mi:ss')        n_from_date,        TO_CHAR(n_to_date, 'yyyy-mm-dd hh:mi:ss')          n_to_date,        REPLACE(n_receipt_control, CHR(13) || CHR (10), '')       n_receipt_control         from IFSAPP.RETURN_MATERIAL_TAB where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/CKP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T08:59:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}