pipeline/25_MOD_RETURN_MATERIAL_LINE_TAB_ZL.json
{
	"name": "25_MOD_RETURN_MATERIAL_LINE_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_MOD_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RMA_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RMA_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RMA_LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RMA_LINE_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SALE_UNIT_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SALE_UNIT_PRICE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BASE_SALE_UNIT_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BASE_SALE_UNIT_PRICE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PRICE_CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PRICE_CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CURRENCY_RATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CURRENCY_RATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PURCHASE_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PURCHASE_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "QTY_TO_RETURN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "QTY_TO_RETURN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "QTY_RETURNED_INV",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "QTY_RETURNED_INV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "QTY_SCRAPPED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "QTY_SCRAPPED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DATE_RETURNED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DATE_RETURNED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "INSPECTION_INFO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "INSPECTION_INFO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREDIT_INVOICE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CREDIT_INVOICE_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREDIT_INVOICE_ITEM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CREDIT_INVOICE_ITEM_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEBIT_INVOICE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DEBIT_INVOICE_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEBIT_INVOICE_ITEM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DEBIT_INVOICE_ITEM_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CATALOG_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CATALOG_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LINE_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REL_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "REL_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREDIT_APPROVER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CREDIT_APPROVER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETURN_REASON_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RETURN_REASON_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REPLACEMENT_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "REPLACEMENT_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "QTY_RECEIVED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "QTY_RECEIVED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REPLACEMENT_LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "REPLACEMENT_LINE_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REPLACEMENT_REL_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "REPLACEMENT_REL_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REPLACEMENT_LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "REPLACEMENT_LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FEE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FEE_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "VAT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VAT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONFIGURATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CONFIGURATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONDITION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CONDITION_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SALE_UNIT_PRICE_WITH_TAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SALE_UNIT_PRICE_WITH_TAX",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CKM_SUBASSY_PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CKM_SUBASSY_PART_NO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CKM_SUBASSY_RETURN_QTY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CKM_SUBASSY_RETURN_QTY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CKM_SUBASSY_RETURN_SEQ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CKM_SUBASSY_RETURN_SEQ",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CSV_TO_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RMA_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rma_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RMA_LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rma_line_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SALE_UNIT_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sale_unit_price",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "BASE_SALE_UNIT_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "base_sale_unit_price",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PRICE_CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_conv_factor",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CURRENCY_RATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_rate",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PURCHASE_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "purchase_order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "QTY_TO_RETURN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_to_return",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "QTY_RETURNED_INV",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_returned_inv",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "QTY_SCRAPPED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_scrapped",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DATE_RETURNED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date_returned",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "INSPECTION_INFO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "inspection_info",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREDIT_INVOICE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_invoice_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CREDIT_INVOICE_ITEM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_invoice_item_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DEBIT_INVOICE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "debit_invoice_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEBIT_INVOICE_ITEM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "debit_invoice_item_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CATALOG_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "catalog_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REL_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rel_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_item_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CREDIT_APPROVER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_approver_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RETURN_REASON_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "return_reason_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REPLACEMENT_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "replacement_order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_RECEIVED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_received",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "conv_factor",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "REPLACEMENT_LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "replacement_line_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REPLACEMENT_REL_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "replacement_rel_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REPLACEMENT_LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "replacement_line_item_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FEE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fee_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "company",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VAT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vat",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONFIGURATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "configuration_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONDITION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "condition_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowstate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "SALE_UNIT_PRICE_WITH_TAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sale_unit_price_with_tax",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CKM_SUBASSY_PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ckm_subassy_part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CKM_SUBASSY_RETURN_QTY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ckm_subassy_return_qty",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CKM_SUBASSY_RETURN_SEQ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ckm_subassy_return_seq",
									"type": "Single",
									"physicalType": "float"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_TO_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR, ISNULL(max(CAST(ROWVERSION AS DATETIME)), '1900-01-01'), 20) Batch FROM [MOD].[RETURN_MATERIAL_LINE_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "RETURN_MATERIAL_LINE_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "MOD"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": "DELETE FROM [MOD].[RETURN_MATERIAL_LINE_TAB] WHERE EXISTS(SELECT TOP 1 1              FROM [MODSTG].[RETURN_MATERIAL_LINE_TAB]              WHERE [MODSTG].[RETURN_MATERIAL_LINE_TAB].[RMA_NO] = [MOD].[RETURN_MATERIAL_LINE_TAB].[RMA_NO]   AND [MODSTG].[RETURN_MATERIAL_LINE_TAB].[RMA_LINE_NO] = [MOD].[RETURN_MATERIAL_LINE_TAB].[RMA_LINE_NO])"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select         rma_no,        rma_line_no ,        sale_unit_price ,        base_sale_unit_price ,        price_conv_factor ,        currency_rate ,        REPLACE(purchase_order_no, CHR(13) || CHR (10), '')       purchase_order_no,        REPLACE(note_text, CHR(13) || CHR (10), '')               note_text,        note_id ,        qty_to_return ,        qty_returned_inv ,        qty_scrapped ,        TO_CHAR(date_returned, 'yyyy-mm-dd hh:mi:ss')           date_returned,        REPLACE(inspection_info, CHR(13) || CHR (10), '')       inspection_info,        credit_invoice_no ,        credit_invoice_item_id ,        REPLACE(debit_invoice_no, CHR(13) || CHR (10), '')       debit_invoice_no,        debit_invoice_item_id,        REPLACE(catalog_no, CHR(13) || CHR (10), '')   catalog_no,        REPLACE(order_no, CHR(13) || CHR (10), '')     order_no,        REPLACE(line_no, CHR(13) || CHR (10), '')      line_no,        REPLACE(rel_no, CHR(13) || CHR (10), '')       rel_no,        line_item_no,        REPLACE(credit_approver_id, CHR(13) || CHR (10), '')   credit_approver_id,        REPLACE(return_reason_code, CHR(13) || CHR (10), '')   return_reason_code,        REPLACE(replacement_order_no, CHR(13) || CHR (10), '') replacement_order_no,        REPLACE(contract, CHR(13) || CHR (10), '')             contract,        qty_received ,        conv_factor  ,        REPLACE(replacement_line_no, CHR(13) || CHR (10), '')    replacement_line_no,        REPLACE(replacement_rel_no, CHR(13) || CHR (10), '')     replacement_rel_no,        replacement_line_item_no ,        REPLACE(fee_code, CHR(13) || CHR (10), '')          fee_code,        REPLACE(company, CHR(13) || CHR (10), '')           company,        REPLACE(vat, CHR(13) || CHR (10), '')               vat,        REPLACE(part_no, CHR(13) || CHR (10), '')           part_no,        REPLACE(configuration_id, CHR(13) || CHR (10), '')  configuration_id,        REPLACE(condition_code, CHR(13) || CHR (10), '')    condition_code,        REPLACE(rowstate, CHR(13) || CHR (10), '')          rowstate,        TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss')           rowversion,        sale_unit_price_with_tax ,        REPLACE(ckm_subassy_part_no, CHR(13) || CHR (10), '')           ckm_subassy_part_no,        ckm_subassy_return_qty ,        ckm_subassy_return_seq   from IFSAPP.RETURN_MATERIAL_LINE_TAB where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/MODP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T08:59:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}