pipeline/29_MOD_PURCHASE_RECEIPT_TAB_ZL.json
{
	"name": "29_MOD_PURCHASE_RECEIPT_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_MOD_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RELEASE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RECEIPT_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "receipt_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "QC_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qc_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RECEIPT_REFERENCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "receipt_reference",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_ARRIVED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_arrived",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "QTY_INSPECTED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_inspected",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "QTY_TO_INSPECT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_to_inspect",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NO_OF_INSPECTIONS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "no_of_inspections",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ARRIVAL_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "arrival_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "RECEIVER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "receiver",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_INVOICED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_invoiced",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "RECEIVE_CASE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "receive_case",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_CONSIGNMENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_consignment",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AUTOMATIC_INVOICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "automatic_invoice",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PRINTED_ARRIVAL_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "printed_arrival_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINTED_RETURN_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "printed_return_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ROWTYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowstate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_TEMP_PRICE_FLG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_temp_price_flg",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_DUE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_due_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_price",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N_ACCEPT_FLG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_accept_flg",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_PRINT_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_print_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_QTY_CONFIRMED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_qty_confirmed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_AMT_CONFIRMED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_amt_confirmed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_ACTUAL_RECEIVE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_actual_receive_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_INSPECT_COMPLETE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_inspect_complete_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_PRICE_DIFF_COMPLETE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_price_diff_complete_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_MOLD_DIVIDE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_mold_divide_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_MOLD_DIVIDE_QTY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_mold_divide_qty",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_PRICE_BEFORE_DIV",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_price_before_div",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型,由于执行时间为12点，所以删除前一天的一天",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch            FROM [MOD].[PURCHASE_RECEIPT_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "PURCHASE_RECEIPT_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "MOD"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": " DELETE     FROM [MOD].[PURCHASE_RECEIPT_TAB]     WHERE EXISTS(SELECT TOP 1 1                  FROM [MODSTG].[PURCHASE_RECEIPT_TAB]                  WHERE [MODSTG].[PURCHASE_RECEIPT_TAB].[ORDER_NO] = [MOD].[PURCHASE_RECEIPT_TAB].[ORDER_NO]                  AND   [MODSTG].[PURCHASE_RECEIPT_TAB].[LINE_NO] = [MOD].[PURCHASE_RECEIPT_TAB].[LINE_NO]                  AND   [MODSTG].[PURCHASE_RECEIPT_TAB].[RELEASE_NO] = [MOD].[PURCHASE_RECEIPT_TAB].[RELEASE_NO]                  AND   [MODSTG].[PURCHASE_RECEIPT_TAB].[RECEIPT_NO] = [MOD].[PURCHASE_RECEIPT_TAB].[RECEIPT_NO]                  )"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "  select REPLACE(order_no, CHR(13) || CHR (10), '')                 order_no,        REPLACE(line_no, CHR(13) || CHR (10), '')                  line_no,        REPLACE(release_no, CHR(13) || CHR (10), '')               release_no,        receipt_no,        REPLACE(qc_code, CHR(13) || CHR (10), '')                  qc_code,        REPLACE(receipt_reference, CHR(13) || CHR (10), '')        receipt_reference,        REPLACE(note_text, CHR(13) || CHR (10), '')                note_text,        qty_arrived,        qty_inspected,        qty_to_inspect,        no_of_inspections,        TO_CHAR(arrival_date, 'yyyy-mm-dd hh:mi:ss')               arrival_date,        REPLACE(receiver, CHR(13) || CHR (10), '')                 receiver,        qty_invoiced,        REPLACE(receive_case, CHR(13) || CHR (10), '')             receive_case,        qty_consignment,        REPLACE(automatic_invoice, CHR(13) || CHR (10), '')        automatic_invoice,        note_id,        REPLACE(printed_arrival_flag, CHR(13) || CHR (10), '')     printed_arrival_flag,        REPLACE(printed_return_flag, CHR(13) || CHR (10), '')      printed_return_flag,        TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss')                 rowversion,        REPLACE(rowtype, CHR(13) || CHR (10), '')                  rowtype,        REPLACE(rowstate, CHR(13) || CHR (10), '')                 rowstate,        REPLACE(n_temp_price_flg, CHR(13) || CHR (10), '')         n_temp_price_flg,        TO_CHAR(n_due_date, 'yyyy-mm-dd hh:mi:ss')                 n_due_date,        n_price,        REPLACE(n_accept_flg, CHR(13) || CHR (10), '')             n_accept_flg,        TO_CHAR(n_print_date, 'yyyy-mm-dd hh:mi:ss')               n_print_date,        REPLACE(n_qty_confirmed, CHR(13) || CHR (10), '')          n_qty_confirmed,        REPLACE(n_amt_confirmed, CHR(13) || CHR (10), '')          n_amt_confirmed,        TO_CHAR(n_actual_receive_date, 'yyyy-mm-dd hh:mi:ss')      n_actual_receive_date,        TO_CHAR(n_inspect_complete_date, 'yyyy-mm-dd hh:mi:ss')    n_inspect_complete_date,        TO_CHAR(n_price_diff_complete_date, 'yyyy-mm-dd hh:mi:ss') n_price_diff_complete_date,        REPLACE(n_mold_divide_flag, CHR(13) || CHR (10), '')       n_mold_divide_flag,        REPLACE(n_mold_divide_qty, CHR(13) || CHR (10), '')        n_mold_divide_qty,        REPLACE(n_price_before_div, CHR(13) || CHR (10), '')       n_price_before_div from IFSAPP.PURCHASE_RECEIPT_TAB where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/MODP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T08:59:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}