pipeline/31_MOD_PURCHASE_ORDER_TAB_ZL.json
{
	"name": "31_MOD_PURCHASE_ORDER_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "APPROVAL_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "approval_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTHORIZE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "authorize_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTHORIZE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "authorize_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BLANKET_ORDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "blanket_order",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BUYER_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "buyer_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_ADDRESS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_TERMS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_terms",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LANGUAGE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "language_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SHIP_VIA_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_via_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRE_ACCOUNTING_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pre_accounting_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "VENDOR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vendor_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHANGE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "change_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CONTACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contact",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DATE_ENTERED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date_entered",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ADDR_1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_TERMS_DESC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_terms_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FORWARDER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "forwarder_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LABEL_NOTE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "label_note",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PICK_LIST_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pick_list_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINTED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "printed_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REVISION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revision",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SHIP_VIA_DESC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_via_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WANTED_RECEIPT_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "wanted_receipt_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "VENDOR_CO_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vendor_co_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_PO_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_po_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RECIPIENT_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "recipient_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "country_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAY_TERM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pay_term_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHANGE_REQUEST_SENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "change_request_sent",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_SENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_sent",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BLANKET_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "blanket_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCHEDULE_AGREEMENT_ORDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "schedule_agreement_order",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESTINATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "destination_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERNAL_DESTINATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "internal_destination",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "address1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "address2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZIP_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "zip_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "city",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_STATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_state",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowstate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "county",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAY_TAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pay_tax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CENTRAL_ORDER_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "central_order_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONSOLIDATED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consolidated_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CANCEL_REASON",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cancel_reason",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DOCUMENT_ADDRESS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "document_address_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRICE_WITH_TAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_with_tax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_MOD_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型,由于执行时间为12点，所以删除前一天的一天",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch            FROM [MOD].[PURCHASE_ORDER_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "PURCHASE_ORDER_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "MOD"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": "DELETE     FROM [MOD].[PURCHASE_ORDER_TAB]     WHERE EXISTS(SELECT TOP 1 1                  FROM [MODSTG].[PURCHASE_ORDER_TAB]                  WHERE [MODSTG].[PURCHASE_ORDER_TAB].[ORDER_NO] = [MOD].[PURCHASE_ORDER_TAB].[ORDER_NO])"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select         REPLACE(order_no, CHR(13) || CHR (10), '')           order_no,        REPLACE(approval_rule, CHR(13) || CHR (10), '')      approval_rule,        REPLACE(addr_no, CHR(13) || CHR (10), '')            addr_no,        REPLACE(authorize_code, CHR(13) || CHR (10), '')     authorize_code,        REPLACE(authorize_id, CHR(13) || CHR (10), '')       authorize_id,        REPLACE(blanket_order, CHR(13) || CHR (10), '')      blanket_order,        REPLACE(buyer_code, CHR(13) || CHR (10), '')         buyer_code,        REPLACE(contract, CHR(13) || CHR (10), '')           contract,        REPLACE(currency_code, CHR(13) || CHR (10), '')      currency_code,        REPLACE(delivery_address, CHR(13) || CHR (10), '')   delivery_address,        REPLACE(delivery_terms, CHR(13) || CHR (10), '')     delivery_terms,        REPLACE(language_code, CHR(13) || CHR (10), '')      language_code,        note_id,        REPLACE(ship_via_code, CHR(13) || CHR (10), '')      ship_via_code,        pre_accounting_id ,        REPLACE(vendor_no, CHR(13) || CHR (10), '')      vendor_no,        TO_CHAR(change_date, 'yyyy-mm-dd hh:mi:ss')           change_date,        REPLACE(contact, CHR(13) || CHR (10), '')      contact,        TO_CHAR(date_entered, 'yyyy-mm-dd hh:mi:ss')           date_entered,        REPLACE(addr_1, CHR(13) || CHR (10), '')                addr_1,        REPLACE(delivery_terms_desc, CHR(13) || CHR (10), '')   delivery_terms_desc,        REPLACE(addr_2, CHR(13) || CHR (10), '')                addr_2,        REPLACE(forwarder_id, CHR(13) || CHR (10), '')          forwarder_id,        REPLACE(addr_3, CHR(13) || CHR (10), '')                addr_3,        REPLACE(label_note, CHR(13) || CHR (10), '')            label_note,        REPLACE(addr_4, CHR(13) || CHR (10), '')                addr_4,        REPLACE(addr_5, CHR(13) || CHR (10), '')                addr_5,        REPLACE(order_code, CHR(13) || CHR (10), '')            order_code,        REPLACE(note_text, CHR(13) || CHR (10), '')             note_text,        TO_CHAR(order_date, 'yyyy-mm-dd hh:mi:ss')              order_date,        REPLACE(pick_list_flag, CHR(13) || CHR (10), '')         pick_list_flag,        REPLACE(printed_flag, CHR(13) || CHR (10), '')           printed_flag,        revision ,        REPLACE(ship_via_desc, CHR(13) || CHR (10), '')         ship_via_desc,        TO_CHAR(wanted_receipt_date, 'yyyy-mm-dd hh:mi:ss')              wanted_receipt_date,        REPLACE(vendor_co_no, CHR(13) || CHR (10), '')             vendor_co_no,        REPLACE(customer_po_no, CHR(13) || CHR (10), '')           customer_po_no,        REPLACE(recipient_name, CHR(13) || CHR (10), '')           recipient_name,        REPLACE(country_code, CHR(13) || CHR (10), '')             country_code,        REPLACE(pay_term_id, CHR(13) || CHR (10), '')              pay_term_id,        REPLACE(change_request_sent, CHR(13) || CHR (10), '')      change_request_sent,        REPLACE(order_sent, CHR(13) || CHR (10), '')               order_sent,        REPLACE(blanket_date, CHR(13) || CHR (10), '')             blanket_date,        REPLACE(schedule_agreement_order, CHR(13) || CHR (10), '') schedule_agreement_order,        REPLACE(destination_id, CHR(13) || CHR (10), '')           destination_id,        REPLACE(internal_destination, CHR(13) || CHR (10), '')     internal_destination,        REPLACE(address1, CHR(13) || CHR (10), '')                 address1,        REPLACE(address2, CHR(13) || CHR (10), '')                 address2,        REPLACE(zip_code, CHR(13) || CHR (10), '')                 zip_code,        REPLACE(city, CHR(13) || CHR (10), '')                     city,        REPLACE(addr_state, CHR(13) || CHR (10), '')               addr_state,        REPLACE(rowstate, CHR(13) || CHR (10), '')                 rowstate,        REPLACE(county, CHR(13) || CHR (10), '')                   county,        REPLACE(addr_flag, CHR(13) || CHR (10), '')                addr_flag,        REPLACE(pay_tax, CHR(13) || CHR (10), '')                  pay_tax,        REPLACE(reference, CHR(13) || CHR (10), '')                reference,        REPLACE(central_order_flag, CHR(13) || CHR (10), '')       central_order_flag,        REPLACE(consolidated_flag, CHR(13) || CHR (10), '')        consolidated_flag,        REPLACE(cancel_reason, CHR(13) || CHR (10), '')            cancel_reason,        TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss')                 rowversion,        REPLACE(document_address_id, CHR(13) || CHR (10), '')       document_address_id,        REPLACE(price_with_tax, CHR(13) || CHR (10), '')            price_with_tax ,        REPLACE(ckm_order_class, CHR(13) || CHR (10), '')           ckm_order_class,        REPLACE(ckm_location, CHR(13) || CHR (10), '')              ckm_location from IFSAPP.PURCHASE_ORDER_TAB where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/MODP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T08:59:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}