pipeline/39_CK_LEVEL_1_FORECAST_TAB_ZL.json
{
	"name": "39_CK_LEVEL_1_FORECAST_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_CK_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MS_SET",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ms_set",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "COUNTER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "counter",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PARENT_CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "parent_contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARENT_PART",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "parent_part",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PERIOD_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "period_no",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ACTUAL_DEMAND",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "actual_demand",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PLANNED_DEMAND",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "planned_demand",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "AVAIL_TO_PROM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "avail_to_prom",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FINISH_LEADTIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "finish_leadtime",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FIRM_ORDERS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "firm_orders",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FORECAST_LEV0",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "forecast_lev0",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "FORECAST_LEV1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "forecast_lev1",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CONSUMED_FORECAST",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consumed_forecast",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MASTER_SCHED_RCPT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "master_sched_rcpt",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SUPPLY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CONSUMED_SUPPLY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consumed_supply",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "MS_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ms_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "NET_AVAIL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "net_avail",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PROJ_AVAIL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "proj_avail",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PURCH_ORDERS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "purch_orders",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "REL_ORD_RCPT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rel_ord_rcpt",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ROLL_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "roll_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROLL_UP_RCPT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "roll_up_rcpt",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "SCHED_ORDERS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sched_orders",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SYSGEN_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sysgen_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MASTER_SCHED_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "master_sched_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLY_ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply_order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLY_ORDER_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply_order_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLY_RELEASE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply_release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLY_SEQUENCE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply_sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": "@pipeline().parameters.FACTORY",
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STGToODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": "@pipeline().parameters.TABLENAME",
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型,由于执行时间为12点，所以删除前一天的一天",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": " SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch FROM CK.LEVEL_1_FORECAST_TAB"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "LEVEL_1_FORECAST_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "CK"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": "DELETE FROM CK.LEVEL_1_FORECAST_TAB       WHERE EXISTS  (     SELECT TOP 1 1      FROM CKSTG.LEVEL_1_FORECAST_TAB       WHERE  CKSTG.LEVEL_1_FORECAST_TAB.PART_NO = CK.LEVEL_1_FORECAST_TAB.PART_NO    AND CKSTG.LEVEL_1_FORECAST_TAB.CONTRACT = CK.LEVEL_1_FORECAST_TAB.CONTRACT    AND CKSTG.LEVEL_1_FORECAST_TAB.MS_SET = CK.LEVEL_1_FORECAST_TAB.MS_SET    AND CKSTG.LEVEL_1_FORECAST_TAB.COUNTER = CK.LEVEL_1_FORECAST_TAB.COUNTER)"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select * from IFSAPP.LEVEL_1_FORECAST_TAB  where TO_CHAR(ROWVERSION, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/CKP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T08:59:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}