pipeline/42_MOD_Invoice_Item_Tab_ZL.json
{
	"name": "42_MOD_Invoice_Item_Tab_ZL",
	"properties": {
		"activities": [
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_MOD_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}\n",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STGToODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IDENTITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IDENTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARTY_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PARTY_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVOICE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "INVOICE_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ITEM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ITEM_DATA",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ITEM_DATA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NET_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NET_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VAT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VAT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NET_CURR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NET_CURR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NET_RATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NET_RATE",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NET_DIV_FACTOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NET_DIV_FACTOR",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NET_CURR_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NET_CURR_AMOUNT",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NET_DOM_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NET_DOM_AMOUNT",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "VAT_CURR_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VAT_CURR_AMOUNT",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "VAT_DOM_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VAT_DOM_AMOUNT",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "REFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "REFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VAT_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VAT_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIV_TYPE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DELIV_TYPE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CORRECTED_ITEM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CORRECTED_ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FETCHED",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FETCHED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_LINE_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ORDER_LINE_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_PART_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ORDER_PART_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_PRICE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ORDER_PRICE",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ORDER_QTY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ORDER_QTY",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "C1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C5",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C6",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C7",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C8",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C9",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C10",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C11",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C12",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C13",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C14",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C15",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C16",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C17",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C18",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C19",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C20",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N1",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N2",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N3",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N4",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N5",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N5",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N6",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N6",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N7",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N7",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N8",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N8",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N9",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N9",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N10",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N10",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N11",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N11",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N12",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N12",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "N13",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N13",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "D1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "D1",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "D2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "D2",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "D3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "D3",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "REASON_CODE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "REASON_CODE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COPY_TAX_FROM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COPY_TAX_FROM_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "COPY_TAX_FROM_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COPY_TAX_FROM_ITEM",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PART_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UNIT_OF_MEASURE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "UNIT_OF_MEASURE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRICE_UNIT_OF_MEASURE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PRICE_UNIT_OF_MEASURE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVOICED_QTY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "INVOICED_QTY",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PO_REF_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PO_REF_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IRS1099_TYPE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IRS1099_TYPE_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "WITHHELD_TAX_CURR_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WITHHELD_TAX_CURR_AMOUNT",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "WITHHELD_TAX_DOM_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WITHHELD_TAX_DOM_AMOUNT",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ROWVERSION",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JS_SENDED",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JS_SENDED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JS_RETURNED",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JS_RETURNED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N14",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N14",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PRICE_WITH_TAX",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PRICE_WITH_TAX",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "N_PRICE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N_PRICE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "C_EXTRACT_COMP_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "C_EXTRACT_COMP_NUM",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BICREATETIME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BICreateTime",
									"type": "DateTime",
									"physicalType": "date"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR(10),ISNULL(MAX(BICreateTime),'1900-01-02'),23) batch FROM [MOD].[INVOICE_ITEM_TAB]"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "SELECT REPLACE(COMPANY, CHR (13) || CHR (10), '') AS COMPANY ,        REPLACE(IDENTITY,CHR (13) || CHR (10), '') AS IDENTITY ,        REPLACE(PARTY_TYPE, CHR (13) || CHR (10), '') AS PARTY_TYPE ,        INVOICE_ID ,ITEM_ID ,        REPLACE(ITEM_DATA, CHR (13) || CHR (10), '') AS ITEM_DATA ,        REPLACE(CREATOR, CHR (13) || CHR (10), '') AS CREATOR ,        REPLACE(NET_AMOUNT, CHR (13) || CHR (10), '') AS NET_AMOUNT ,        REPLACE(VAT_AMOUNT, CHR (13) || CHR (10), '') AS VAT_AMOUNT ,        REPLACE(NET_CURR_CODE,(13) || CHR (10), '') AS NET_CURR_CODE ,        NET_RATE ,NET_DIV_FACTOR ,NET_CURR_AMOUNT ,NET_DOM_AMOUNT ,VAT_CURR_AMOUNT ,VAT_DOM_AMOUNT ,        REPLACE(REFERENCE, CHR (13) || CHR (10), '') AS REFERENCE ,        REPLACE(VAT_CODE, CHR (13) || CHR (10), '') AS VAT_CODE ,        REPLACE(DELIV_TYPE_ID, CHR (13) || CHR (10), '') AS DELIV_TYPE_ID ,CORRECTED_ITEM_ID ,        REPLACE(FETCHED, CHR (13) || CHR (10), '') AS FETCHED ,        REPLACE(ORDER_NO, CHR (13) || CHR (10), '') AS ORDER_NO ,        REPLACE(ORDER_LINE_NO, CHR (13) || CHR (10), '') AS ORDER_LINE_NO ,        REPLACE(ORDER_PART_NO, CHR (13) || CHR (10), '') AS ORDER_PART_NO ,        ORDER_PRICE ,ORDER_QTY ,        REPLACE(C1 , CHR (13) || CHR (10), '') AS C1  ,        REPLACE(C2 , CHR (13) || CHR (10), '') AS C2  ,        REPLACE(C3 , CHR (13) || CHR (10), '') AS C3  ,        REPLACE(C4 , CHR (13) || CHR (10), '') AS C4  ,        REPLACE(C5 , CHR (13) || CHR (10), '') AS C5  ,        REPLACE(C6 , CHR (13) || CHR (10), '') AS C6  ,        REPLACE(C7 , CHR (13) || CHR (10), '') AS C7  ,        REPLACE(C8 , CHR (13) || CHR (10), '') AS C8  ,        REPLACE(C9 , CHR (13) || CHR (10), '') AS C9  ,        REPLACE(C10, CHR (13) || CHR (10), '') AS C10 ,        REPLACE(C11, CHR (13) || CHR (10), '') AS C11 ,        REPLACE(C12, CHR (13) || CHR (10), '') AS C12 ,        REPLACE(C13, CHR (13) || CHR (10), '') AS C13 ,        REPLACE(C14, CHR (13) || CHR (10), '') AS C14 ,        REPLACE(C15, CHR (13) || CHR (10), '') AS C15 ,        REPLACE(C16, CHR (13) || CHR (10), '') AS C16 ,        REPLACE(C17, CHR (13) || CHR (10), '') AS C17 ,        REPLACE(C18, CHR (13) || CHR (10), '') AS C18 ,        REPLACE(C19, CHR (13) || CHR (10), '') AS C19 ,        REPLACE(C20, CHR (13) || CHR (10), '') AS C20 ,        N1 ,N2 ,N3 ,N4 ,N5 ,N6 ,N7 ,N8 ,N9 ,N10 ,N11 ,N12 ,N13 ,D1 ,D2 ,D3 ,        REPLACE(REASON_CODE_ID, CHR (13) || CHR (10), '') AS REASON_CODE_ID ,        COPY_TAX_FROM_ID ,COPY_TAX_FROM_ITEM ,        REPLACE(PART_NO, CHR (13) || CHR (10), '') AS PART_NO  ,        REPLACE(PART_DESCRIPTION, CHR (13) || CHR (10), '') AS PART_DESCRIPTION   ,        REPLACE(UNIT_OF_MEASURE, CHR (13) || CHR (10), '') AS UNIT_OF_MEASURE  ,        REPLACE(PRICE_UNIT_OF_MEASURE, CHR (13) || CHR (10), '') AS PRICE_UNIT_OF_MEASURE  ,        INVOICED_QTY ,REPLACE(PO_REF_NUMBER, CHR (13) || CHR (10), '') AS PO_REF_NUMBER  ,        IRS1099_TYPE_ID ,WITHHELD_TAX_CURR_AMOUNT ,WITHHELD_TAX_DOM_AMOUNT ,ROWVERSION ,        REPLACE(ROWSTATE, CHR (13) || CHR (10), '') AS ROWSTATE  ,        REPLACE(JS_SENDED, CHR (13) || CHR (10), '') AS JS_SENDED  ,        REPLACE(JS_RETURNED, CHR (13) || CHR (10), '') AS JS_RETURNED         ,N14 ,PRICE_WITH_TAX ,        REPLACE(N_PRICE_FLAG, CHR (13) || CHR (10), '') AS N_PRICE_FLAG  ,        C_EXTRACT_COMP_NUM ,TO_CHAR(SYSDATE,'yyyy-mm-dd') BICreateTime  FROM IFSAPP.INVOICE_ITEM_TAB col where exists (select 1 from IFSAPP.HISTORY_LOG_TAB hl where  substr(substr(hl.keys,INSTR(hl.keys,'COMPANY') + LENGTH('COMPANY')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'COMPANY') + LENGTH('COMPANY')+1,+99),'^')-1) = col.COMPANY and substr(substr(hl.keys,INSTR(hl.keys,'IDENTITY') + LENGTH('IDENTITY')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'IDENTITY') + LENGTH('IDENTITY')+1,+99),'^')-1) = col.IDENTITY  and substr(substr(hl.keys,INSTR(hl.keys,'INVOICE_ID') + LENGTH('INVOICE_ID')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'INVOICE_ID') + LENGTH('INVOICE_ID')+1,+99),'^')-1) = col.INVOICE_ID  and substr(substr(hl.keys,INSTR(hl.keys,'ITEM_ID') + LENGTH('ITEM_ID')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'ITEM_ID') + LENGTH('ITEM_ID')+1,+99),'^')-1) = col.ITEM_ID  and substr(substr(hl.keys,INSTR(hl.keys,'PARTY_TYPE') + LENGTH('PARTY_TYPE')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'PARTY_TYPE') + LENGTH('PARTY_TYPE')+1,+99),'^')-1) = col.PARTY_TYPE  and hl.table_name = 'INVOICE_ITEM_TAB' AND hl.LU_NAME  = 'InvoiceItem' and (hl.history_type = '1' or hl.history_type = '2') and TO_CHAR(hl.time_stamp,'yyyy-mm-dd') >= "
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "Invoice_Item_tab"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "MOD"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": "DELETE FROM [MOD].[INVOICE_ITEM_TAB] WHERE EXISTS  (SELECT TOP 1 1 FROM [MODSTG].[INVOICE_ITEM_TAB]  WHERE   [MODSTG].[INVOICE_ITEM_TAB].[COMPANY] = [MOD].[INVOICE_ITEM_TAB].[COMPANY]   AND [MODSTG].[INVOICE_ITEM_TAB].[IDENTITY] = [MOD].[INVOICE_ITEM_TAB].[IDENTITY]   AND [MODSTG].[INVOICE_ITEM_TAB].[INVOICE_ID] = [MOD].[INVOICE_ITEM_TAB].[INVOICE_ID]  AND [MODSTG].[INVOICE_ITEM_TAB].[ITEM_ID] = [MOD].[INVOICE_ITEM_TAB].[ITEM_ID]   AND [MODSTG].[INVOICE_ITEM_TAB].[PARTY_TYPE] = [MOD].[INVOICE_ITEM_TAB].[PARTY_TYPE]  )"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/MODP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T09:00:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}