pipeline/50_CK_INV_ACCOUNTING_ROW_TAB_ZL.json
{
	"name": "50_CK_INV_ACCOUNTING_ROW_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_CK_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}\n",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STGToODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IDENTITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IDENTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARTY_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PARTY_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVOICE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "INVOICE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ITEM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROW_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ROW_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CURR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DIV_FACTOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DIV_FACTOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURR_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CURR_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOM_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DOM_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "THIRD_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "THIRD_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT_STRING",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ACCOUNT_STRING",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VOUCHER_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VOUCHER_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_YEAR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ACCOUNTING_YEAR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VOUCHER_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTO_POSTING_PROC_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AUTO_POSTING_PROC_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POSTING_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "POSTING_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ERROR_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ERROR_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_A",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_A",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_B",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_B",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_C",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_C",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_D",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_D",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_E",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_E",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_F",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_F",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_G",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_G",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_H",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_H",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_I",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_I",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_J",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_J",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROJECT_ACTIVITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PROJECT_ACTIVITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPTIONAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OPTIONAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TAX_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_COMPANY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VOUCHER_COMPANY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADD_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADD_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERNAL_SEQ",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "INTERNAL_SEQ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_REF",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LINE_REF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VAT_FINAL_POSTING_ITEM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VAT_FINAL_POSTING_ITEM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_ORDER_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N_ORDER_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_LINE_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N_LINE_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_RELEASE_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N_RELEASE_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_RECEPT_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "N_RECEPT_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BICREATETIME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BICreateTime",
									"type": "DateTime",
									"physicalType": "date"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR(10),ISNULL(MAX(BICreateTime),'1900-01-02'),23) batch FROM [CK].[INV_ACCOUNTING_ROW_TAB]"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "SELECT COMPANY \t,IDENTITY \t,PARTY_TYPE \t,INVOICE_ID \t,ITEM_ID \t,ROW_ID \t,ROWVERSION \t,AMOUNT \t,CURR_CODE \t,RATE \t,DIV_FACTOR \t,CURR_AMOUNT \t,DOM_AMOUNT \t,THIRD_AMOUNT \t,ACCOUNT_STRING \t,VOUCHER_TYPE \t,VOUCHER_NO \t,ACCOUNTING_YEAR \t,VOUCHER_DATE \t,QUANTITY \t,AUTO_POSTING_PROC_CODE \t,POSTING_TYPE \t,TEXT \t,ERROR_FLAG \t,CODE_A \t,CODE_B \t,CODE_C \t,CODE_D \t,CODE_E \t,CODE_F \t,CODE_G \t,CODE_H \t,CODE_I \t,CODE_J \t,PROJECT_ACTIVITY_ID \t,OPTIONAL_CODE \t,TAX_ID \t,VOUCHER_COMPANY \t,ADD_INTERNAL \t,INTERNAL_SEQ \t,LINE_REF \t,VAT_FINAL_POSTING_ITEM_ID \t,N_ORDER_NO \t,N_LINE_NO \t,N_RELEASE_NO \t,N_RECEPT_NO,TO_CHAR(SYSDATE,'yyyy-mm-dd') BICreateTime  \tFROM IFSAPP.INV_ACCOUNTING_ROW_TAB col  \twhere exists (select 1 from IFSAPP.HISTORY_LOG_TAB hl where  substr(substr(hl.keys,INSTR(hl.keys,'COMPANY') + LENGTH('COMPANY')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'COMPANY') + LENGTH('COMPANY')+1,+99),'^')-1) = col.COMPANY and substr(substr(hl.keys,INSTR(hl.keys,'IDENTITY') + LENGTH('IDENTITY')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'IDENTITY') + LENGTH('IDENTITY')+1,+99),'^')-1) = col.IDENTITY  and substr(substr(hl.keys,INSTR(hl.keys,'INVOICE_ID') + LENGTH('INVOICE_ID')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'INVOICE_ID') + LENGTH('INVOICE_ID')+1,+99),'^')-1) = col.INVOICE_ID  and substr(substr(hl.keys,INSTR(hl.keys,'ITEM_ID') + LENGTH('ITEM_ID')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'ITEM_ID') + LENGTH('ITEM_ID')+1,+99),'^')-1) = col.ITEM_ID  and substr(substr(hl.keys,INSTR(hl.keys,'PARTY_TYPE') + LENGTH('PARTY_TYPE')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'PARTY_TYPE') + LENGTH('PARTY_TYPE')+1,+99),'^')-1) = col.PARTY_TYPE  and substr(substr(hl.keys,INSTR(hl.keys,'ROW_ID') + LENGTH('ROW_ID')+1,+99),0,INSTR(substr(hl.keys,INSTR(hl.keys,'ROW_ID') + LENGTH('ROW_ID')+1,+99),'^')-1) = col.ROW_ID   and hl.table_name = 'INV_ACCOUNTING_ROW_TAB' AND hl.LU_NAME  = 'InvAccountingRow' and (hl.history_type = '1' or hl.history_type = '2') and TO_CHAR(hl.time_stamp,'yyyy-mm-dd') >= "
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "INV_ACCOUNTING_ROW_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "CK"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": "DELETE FROM [CK].[INV_ACCOUNTING_ROW_TAB] WHERE EXISTS  (SELECT TOP 1 1 FROM [CKSTG].[INV_ACCOUNTING_ROW_TAB]  WHERE    [CKSTG].[INV_ACCOUNTING_ROW_TAB].[COMPANY] = [CK].[INV_ACCOUNTING_ROW_TAB].[COMPANY]    AND [CKSTG].[INV_ACCOUNTING_ROW_TAB].[IDENTITY] = [CK].[INV_ACCOUNTING_ROW_TAB].[IDENTITY]    AND [CKSTG].[INV_ACCOUNTING_ROW_TAB].[INVOICE_ID] = [CK].[INV_ACCOUNTING_ROW_TAB].[INVOICE_ID]   AND [CKSTG].[INV_ACCOUNTING_ROW_TAB].[ITEM_ID] = [CK].[INV_ACCOUNTING_ROW_TAB].[ITEM_ID] AND [CKSTG].[INV_ACCOUNTING_ROW_TAB].[PARTY_TYPE] = [CK].[INV_ACCOUNTING_ROW_TAB].[PARTY_TYPE] AND [CKSTG].[INV_ACCOUNTING_ROW_TAB].[ROW_ID] = [CK].[INV_ACCOUNTING_ROW_TAB].[ROW_ID])"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/CKP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T09:00:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}