pipeline/52_MOD_GEN_LED_VOUCHER_ROW_UNION_QRY_ZL.json
{
	"name": "52_MOD_GEN_LED_VOUCHER_ROW_UNION_QRY_ZL",
	"properties": {
		"activities": [
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_MOD_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}\n",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STGToODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VOUCHER_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VOUCHER_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROW_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ROW_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_YEAR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ACCOUNTING_YEAR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_PERIOD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ACCOUNTING_PERIOD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VOUCHER_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "YEAR_PERIOD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "YEAR_PERIOD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "YEAR_PERIOD_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "YEAR_PERIOD_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERNAL_SEQ_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "INTERNAL_SEQ_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POSTING_COMBINATION_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "POSTING_COMBINATION_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ACCOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ACCOUNT_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_B",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_B",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_B_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_B_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_C",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_C",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_C_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_C_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_D",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_D",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_D_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_D_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_E",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_E",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_E_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_E_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_F",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_F",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_F_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_F_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_G",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_G",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_G_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_G_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_H",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_H",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_H_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_H_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_I",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_I",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_I_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_I_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_J",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_J",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_J_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE_J_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TRANS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_DEBET_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CURRENCY_DEBET_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CURRENCY_CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CURRENCY_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEBET_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DEBET_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CORRECTION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CORRECTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HEADER_CORRECTION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "HEADER_CORRECTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CURRENCY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROCESS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PROCESS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPTIONAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OPTIONAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROJECT_ACTIVITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PROJECT_ACTIVITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARTY_TYPE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PARTY_TYPE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE_SERIE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "REFERENCE_SERIE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "REFERENCE_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSFER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TRANSFER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CORRECTED",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CORRECTED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "THIRD_CURRENCY_DEBIT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "THIRD_CURRENCY_DEBIT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "THIRD_CURRENCY_CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "THIRD_CURRENCY_CREDIT_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "THIRD_CURRENCY_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "THIRD_CURRENCY_AMOUNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_RATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CURRENCY_RATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MULTI_COMPANY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MULTI_COMPANY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IS_MULTI_COMPANY_VOUCHER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IS_MULTI_COMPANY_VOUCHER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SIMULATION_VOUCHER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SIMULATION_VOUCHER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FUNCTION_GROUP",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FUNCTION_GROUP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MATCHING_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MATCHING_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MATCHING_PERIOD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MATCHING_PERIOD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MATCHING_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MATCHING_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTO_TAX_VOU_ENTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AUTO_TAX_VOU_ENTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE_ROW_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "REFERENCE_ROW_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PERIOD_ALLOCATION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PERIOD_ALLOCATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUT_CODING_RULE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AUT_CODING_RULE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORG_PARENT_ROW",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ORG_PARENT_ROW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARENT_ROW",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PARENT_ROW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTOBOOK",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AUTOBOOK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUT_CODING_SEQ",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AUT_CODING_SEQ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUT_CODING_PARENT_ROW",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AUT_CODING_PARENT_ROW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERNAL_ACCOUNTING",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "INTERNAL_ACCOUNTING",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURR_ACCOUNTING_DB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CURR_ACCOUNTING_DB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROJECT_ACCOUNTING_DB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PROJECT_ACCOUNTING_DB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUMMERIZED_DB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SUMMERIZED_DB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OLD_ROW_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OLD_ROW_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OLD_PERIOD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OLD_PERIOD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEQUENCE_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SEQUENCE_NO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NCF_SETTLEMENT_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NCF_SETTLEMENT_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MPCCOM_ACCOUNTING_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MPCCOM_ACCOUNTING_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OBJID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJVERSION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OBJVERSION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(left(ROWVERSION,19) AS DATETIME)) ,'1900-01-01'),20) batch FROM [MOD].[GEN_LED_VOUCHER_ROW_UNION_QRY]"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "SELECT COMPANY ,VOUCHER_TYPE ,VOUCHER_NO ,ROW_NO ,ACCOUNTING_YEAR ,ACCOUNTING_PERIOD ,VOUCHER_DATE ,YEAR_PERIOD ,YEAR_PERIOD_KEY ,INTERNAL_SEQ_NUMBER ,POSTING_COMBINATION_ID ,ACCOUNT ,ACCOUNT_DESC ,CODE_B ,CODE_B_DESC ,CODE_C ,CODE_C_DESC ,CODE_D ,CODE_D_DESC ,CODE_E ,CODE_E_DESC ,CODE_F ,CODE_F_DESC ,CODE_G ,CODE_G_DESC ,CODE_H ,CODE_H_DESC ,CODE_I ,CODE_I_DESC ,CODE_J ,CODE_J_DESC ,TRANS_CODE ,TEXT ,CURRENCY_DEBET_AMOUNT ,CURRENCY_CREDIT_AMOUNT ,CURRENCY_AMOUNT ,DEBET_AMOUNT ,CREDIT_AMOUNT ,AMOUNT ,CORRECTION ,HEADER_CORRECTION ,CURRENCY_CODE ,QUANTITY ,PROCESS_CODE ,OPTIONAL_CODE ,PROJECT_ACTIVITY_ID ,PARTY_TYPE_ID ,REFERENCE_SERIE ,REFERENCE_NUMBER ,TRANSFER_ID ,CORRECTED ,THIRD_CURRENCY_DEBIT_AMOUNT ,THIRD_CURRENCY_CREDIT_AMOUNT ,THIRD_CURRENCY_AMOUNT ,CURRENCY_RATE ,MULTI_COMPANY_ID ,IS_MULTI_COMPANY_VOUCHER ,SIMULATION_VOUCHER ,FUNCTION_GROUP ,MATCHING_DATE ,MATCHING_PERIOD ,MATCHING_NO ,AUTO_TAX_VOU_ENTRY ,REFERENCE_ROW_NO ,PERIOD_ALLOCATION ,AUT_CODING_RULE ,ORG_PARENT_ROW ,PARENT_ROW ,AUTOBOOK ,AUT_CODING_SEQ ,AUT_CODING_PARENT_ROW ,INTERNAL_ACCOUNTING ,CURR_ACCOUNTING_DB ,PROJECT_ACCOUNTING_DB ,SUMMERIZED_DB ,OLD_ROW_NO ,OLD_PERIOD ,SEQUENCE_NO ,NCF_SETTLEMENT_DATE ,MPCCOM_ACCOUNTING_ID ,OBJID ,OBJVERSION ,ROWVERSION FROM IFSAPP.GEN_LED_VOUCHER_ROW_UNION_QRY where TO_CHAR(ROWVERSION, 'yyyy-mm-dd hh:mi:ss') >="
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "GEN_LED_VOUCHER_ROW_UNION_QRY"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "MOD"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": " DELETE FROM [MOD].[GEN_LED_VOUCHER_ROW_UNION_QRY] WHERE EXISTS  (SELECT TOP 1 1 FROM [MODSTG].[GEN_LED_VOUCHER_ROW_UNION_QRY]  WHERE    [MODSTG].[GEN_LED_VOUCHER_ROW_UNION_QRY].[ACCOUNTING_YEAR] = [MOD].[GEN_LED_VOUCHER_ROW_UNION_QRY].[ACCOUNTING_YEAR]    AND [MODSTG].[GEN_LED_VOUCHER_ROW_UNION_QRY].[COMPANY] = [MOD].[GEN_LED_VOUCHER_ROW_UNION_QRY].[COMPANY]    AND [MODSTG].[GEN_LED_VOUCHER_ROW_UNION_QRY].[VOUCHER_TYPE] = [MOD].[GEN_LED_VOUCHER_ROW_UNION_QRY].[VOUCHER_TYPE]   AND [MODSTG].[GEN_LED_VOUCHER_ROW_UNION_QRY].[VOUCHER_NO] = [MOD].[GEN_LED_VOUCHER_ROW_UNION_QRY].[VOUCHER_NO] AND [MODSTG].[GEN_LED_VOUCHER_ROW_UNION_QRY].[ROW_NO] = [MOD].[GEN_LED_VOUCHER_ROW_UNION_QRY].[ROW_NO] AND   [MODSTG].[GEN_LED_VOUCHER_ROW_UNION_QRY].[ACCOUNTING_PERIOD] = [MOD].[GEN_LED_VOUCHER_ROW_UNION_QRY].[ACCOUNTING_PERIOD] )"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/MODP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T09:00:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}