pipeline/52_TEST_CK_INVENTORY_TRANSACTION_HIST_TAB.json
{
	"name": "52_TEST_CK_INVENTORY_TRANSACTION_HIST_TAB",
	"properties": {
		"activities": [
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_CK_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TRANSACTION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "accounting_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONFIGURATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "configuration_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LOCATION_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "location_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LOT_BATCH_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "lot_batch_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIAL_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "serial_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WAIV_DEV_REJ_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "waiv_dev_rej_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ENG_CHG_LEVEL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "eng_chg_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RELEASE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEQUENCE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_item_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REJECT_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reject_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "transaction_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTION_ALIAS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "transaction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "voucher_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRE_ACCOUNTING_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pre_accounting_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VOUCHER_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "voucher_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COST",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "DATED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATE_APPLIED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date_applied",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DIRECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "direction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PARTSTAT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "partstat_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_REVERSED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_reversed",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "DEL_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "del_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUANTITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "quantity",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SOURCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "USERID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "userid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VALUESTAT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "valuestat_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATUS_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNING_VENDOR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "owning_vendor_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNING_CUSTOMER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "owning_customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_OWNERSHIP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_ownership",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORIGINAL_TRANSACTION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASSOCIATED_TRANSACTION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "associated_transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LOCATION_GROUP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "location_group",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONDITION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "condition_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PREVIOUS_PART_OWNERSHIP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "previous_part_ownership",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PREVIOUS_OWNING_CUSTOMER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "previous_owning_customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PREVIOUS_OWNING_VENDOR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "previous_owning_vendor_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_OVERHEAD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_overhead",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "EXPIRATION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "expiration_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ALT_SOURCE_REF1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "alt_source_ref1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALT_SOURCE_REF2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "alt_source_ref2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALT_SOURCE_REF3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "alt_source_ref3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALT_SOURCE_REF4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "alt_source_ref4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALT_SOURCE_REF_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "alt_source_ref_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_DIFFERENCE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_difference_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_DIFFERENCE_EXPLAIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_difference_explain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_KERI_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_keri_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_PART_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_part_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_MODEL_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_model_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_DATE_APPLIED_ORIGIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_date_applied_origin",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "N_HOLD_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_hold_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "flag",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "WORK_CENTER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "work_center_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": "@pipeline().parameters.FACTORY",
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STGToODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "accounting_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "accounting_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "configuration_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "configuration_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "location_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "location_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "lot_batch_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "lot_batch_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "serial_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "serial_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "waiv_dev_rej_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "waiv_dev_rej_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "eng_chg_level",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "eng_chg_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "release_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "sequence_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "line_item_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "line_item_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "reject_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reject_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "transaction_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transaction_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "transaction",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transaction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "voucher_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "voucher_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pre_accounting_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "pre_accounting_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "voucher_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "voucher_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "cost",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "dated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "date_applied",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "date_applied",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "direction",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "direction",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "order_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "order_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "partstat_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "partstat_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "qty_reversed",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "qty_reversed",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "del_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "del_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "quantity",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "quantity",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "source",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "userid",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "userid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "valuestat_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "valuestat_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "owning_vendor_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "owning_vendor_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "owning_customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "owning_customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "part_ownership",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "part_ownership",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "original_transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "associated_transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "associated_transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "location_group",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "location_group",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "condition_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "condition_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "previous_part_ownership",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "previous_part_ownership",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "previous_owning_customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "previous_owning_customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "previous_owning_vendor_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "previous_owning_vendor_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "delivery_overhead",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "delivery_overhead",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "expiration_date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "expiration_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "alt_source_ref1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "alt_source_ref1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "alt_source_ref2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "alt_source_ref2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "alt_source_ref3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "alt_source_ref3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "alt_source_ref4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "alt_source_ref4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "alt_source_ref_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "alt_source_ref_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_difference_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "n_difference_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_difference_explain",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "n_difference_explain",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_keri_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "n_keri_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_part_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "n_part_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_model_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "n_model_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_date_applied_origin",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "n_date_applied_origin",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "n_hold_flag",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "n_hold_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "flag",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "flag",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "work_center_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_center_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": "@pipeline().parameters.TABLENAME",
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "  SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch FROM [CK].[INVENTORY_TRANSACTION_HIST_TAB]"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "SELECT TRANSACTION_ID,        ACCOUNTING_ID,        replace(PART_NO, CHR(13) || CHR(10), '') PART_NO,        replace(CONTRACT, CHR(13) || CHR(10), '') CONTRACT,        replace(CONFIGURATION_ID, CHR(13) || CHR(10), '') CONFIGURATION_ID,        replace(LOCATION_NO, CHR(13) || CHR(10), '') LOCATION_NO,        replace(LOT_BATCH_NO, CHR(13) || CHR(10), '') LOT_BATCH_NO,        replace(SERIAL_NO, CHR(13) || CHR(10), '') SERIAL_NO,        replace(WAIV_DEV_REJ_NO, CHR(13) || CHR(10), '') WAIV_DEV_REJ_NO,        replace(ENG_CHG_LEVEL, CHR(13) || CHR(10), '') ENG_CHG_LEVEL,        replace(ORDER_NO, CHR(13) || CHR(10), '') ORDER_NO,        REPLACE(RELEASE_NO, CHR(13) || CHR(10), '') RELEASE_NO,        REPLACE(SEQUENCE_NO, CHR(13) || CHR(10), '') SEQUENCE_NO,        LINE_ITEM_NO,        replace(REJECT_CODE, CHR(13) || CHR(10), '') REJECT_CODE,        replace(TRANSACTION_CODE, CHR(13) || CHR(10), '') TRANSACTION_CODE,        replace(TRANSACTION, CHR(13) || CHR(10), '') TRANSACTION_ALIAS,        replace(VOUCHER_NO, CHR(13) || CHR(10), '') VOUCHER_NO,        PRE_ACCOUNTING_ID,        replace(VOUCHER_TYPE, CHR(13) || CHR(10), '') VOUCHER_TYPE,        COST,        TO_CHAR(DATED, 'yyyy-mm-dd hh:mi:ss') DATED,        TO_CHAR(DATE_APPLIED, 'yyyy-mm-dd') DATE_APPLIED,        replace(DIRECTION, CHR(13) || CHR(10), '') DIRECTION,        replace(ORDER_TYPE, CHR(13) || CHR(10), '') ORDER_TYPE,        replace(PARTSTAT_FLAG, CHR(13) || CHR(10), '') PARTSTAT_FLAG,        QTY_REVERSED,        replace(DEL_TYPE, CHR(13) || CHR(10), '') DEL_TYPE,        QUANTITY,        replace(SOURCE, CHR(13) || CHR(10), '') SOURCE,        replace(USERID, CHR(13) || CHR(10), '') USERID,        replace(VALUESTAT_FLAG, CHR(13) || CHR(10), '') VALUESTAT_FLAG,        replace(STATUS_CODE, CHR(13) || CHR(10), '') STATUS_CODE,        replace(OWNING_VENDOR_NO, CHR(13) || CHR(10), '') OWNING_VENDOR_NO,        replace(OWNING_CUSTOMER_NO, CHR(13) || CHR(10), '') OWNING_CUSTOMER_NO,        replace(PART_OWNERSHIP, CHR(13) || CHR(10), '') PART_OWNERSHIP,        ORIGINAL_TRANSACTION_ID,        ASSOCIATED_TRANSACTION_ID,        replace(LOCATION_GROUP, CHR(13) || CHR(10), '') LOCATION_GROUP,        replace(CONDITION_CODE, CHR(13) || CHR(10), '') CONDITION_CODE,        replace(PREVIOUS_PART_OWNERSHIP, CHR(13) || CHR(10), '') PREVIOUS_PART_OWNERSHIP,        replace(PREVIOUS_OWNING_CUSTOMER_NO, CHR(13) || CHR(10), '') PREVIOUS_OWNING_CUSTOMER_NO,        replace(PREVIOUS_OWNING_VENDOR_NO, CHR(13) || CHR(10), '') PREVIOUS_OWNING_VENDOR_NO,        DELIVERY_OVERHEAD,        TO_CHAR(ROWVERSION, 'yyyy-mm-dd hh:mi:ss') ROWVERSION,        TO_CHAR(EXPIRATION_DATE, 'yyyy-mm-dd') EXPIRATION_DATE,        replace(ALT_SOURCE_REF1, CHR(13) || CHR(10), '') ALT_SOURCE_REF1,        replace(ALT_SOURCE_REF2, CHR(13) || CHR(10), '') ALT_SOURCE_REF2,        replace(ALT_SOURCE_REF3, CHR(13) || CHR(10), '') ALT_SOURCE_REF3,        replace(ALT_SOURCE_REF4, CHR(13) || CHR(10), '') ALT_SOURCE_REF4,        replace(ALT_SOURCE_REF_TYPE, CHR(13) || CHR(10), '') ALT_SOURCE_REF_TYPE,        replace(N_DIFFERENCE_CODE, CHR(13) || CHR(10), '') N_DIFFERENCE_CODE,        REPLACE(N_DIFFERENCE_EXPLAIN, CHR(13) || CHR(10), '') N_DIFFERENCE_EXPLAIN,        replace(N_KERI_TYPE, CHR(13) || CHR(10), '') N_KERI_TYPE,        replace(N_PART_TYPE, CHR(13) || CHR(10), '') N_PART_TYPE,        replace(N_MODEL_TYPE, CHR(13) || CHR(10), '') N_MODEL_TYPE,        TO_CHAR(N_DATE_APPLIED_ORIGIN, 'yyyy-mm-dd') N_DATE_APPLIED_ORIGIN,        replace(N_HOLD_FLAG, CHR(13) || CHR(10), '') N_HOLD_FLAG,        FLAG,        replace(WORK_CENTER_NO, CHR(13) || CHR(10), '') WORK_CENTER_NO   FROM IFSAPP.INVENTORY_TRANSACTION_HIST_TAB  where TO_CHAR(ROWVERSION, 'yyyy-mm-dd hh:mi:ss') >"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "INVENTORY_TRANSACTION_HIST_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "CK"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": " DELETE FROM [CK].[INVENTORY_TRANSACTION_HIST_TAB]    WHERE EXISTS  (   SELECT TOP 1 1    FROM [CKSTG].[INVENTORY_TRANSACTION_HIST_TAB]     WHERE  [CKSTG].[INVENTORY_TRANSACTION_HIST_TAB].[TRANSACTION_ID] = [CK].[INVENTORY_TRANSACTION_HIST_TAB].[TRANSACTION_ID])"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T09:00:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}