pipeline/56_CK_FA_OBJECT_TAB_ZL.json
{
	"name": "56_CK_FA_OBJECT_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_CK_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "company",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJECT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "object_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VALID_FROM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "valid_from",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "VALID_UNTIL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "valid_until",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "LOCATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "location",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJECT_OWNER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "object_owner",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLIER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supplier",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXTERNAL_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "external_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACQUISITION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "acquisition_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "NOTE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_B",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_b",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_C",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_D",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_d",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_e",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_F",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_f",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_G",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_g",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_H",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_h",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_I",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_i",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_J",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_j",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FA_OBJECT_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fa_object_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "account",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJECT_GROUP_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "object_group_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAIN_OBJECT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "main_object_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IMPORT_DUMMY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "import_dummy",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE_ACTIVE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OVERRIDE_DEPRECIATION_PLAN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "override_depreciation_plan",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INHERIT_DEPR_PLAN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "inherit_depr_plan",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INHERIT_FINAL_DEPR_PERIOD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "inherit_final_depr_period",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROTABLE_POOL_OBJECT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rotable_pool_object",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowstate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_OBJECTIVE_DIVISION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_objective_division",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_ACQUISITION_DIVISION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_acquisition_division",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_MANU_DIVISION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_manu_division",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_AUTH_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_auth_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_PLAN_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_plan_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_DEP_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_dep_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_CUSTOMER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_customer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_FREE_FIELD1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_free_field1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_FREE_FIELD2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_free_field2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型,由于执行时间为12点，所以删除前一天的一天",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch            FROM [CK].[FA_OBJECT_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "FA_OBJECT_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "CK"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": " DELETE     FROM [CK].[FA_OBJECT_TAB]     WHERE EXISTS(SELECT TOP 1 1                  FROM [CKSTG].[FA_OBJECT_TAB]                  WHERE [CKSTG].[FA_OBJECT_TAB].[COMPANY] = [CK].[FA_OBJECT_TAB].[COMPANY]                  AND   [CKSTG].[FA_OBJECT_TAB].[OBJECT_ID] = [CK].[FA_OBJECT_TAB].[OBJECT_ID]                   )"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select                        REPLACE(company, CHR(13) || CHR (10), '')      company,        REPLACE(object_id, CHR(13) || CHR (10), '')    object_id,        REPLACE(description, CHR(13) || CHR (10), '')  description,        TO_CHAR( valid_from, 'yyyy-mm-dd hh:mi:ss')          valid_from,        TO_CHAR( valid_until, 'yyyy-mm-dd hh:mi:ss')         valid_until,        REPLACE(location, CHR(13) || CHR (10), '')       location,        REPLACE(object_owner, CHR(13) || CHR (10), '')   object_owner,        REPLACE(supplier, CHR(13) || CHR (10), '')       supplier,        REPLACE(external_id, CHR(13) || CHR (10), '')    external_id,        TO_CHAR( acquisition_date , 'yyyy-mm-dd hh:mi:ss')         acquisition_date ,        REPLACE(note, CHR(13) || CHR (10), '')             note,        REPLACE(code_b, CHR(13) || CHR (10), '')           code_b,        REPLACE(code_c, CHR(13) || CHR (10), '')           code_c,        REPLACE(code_d, CHR(13) || CHR (10), '')           code_d,        REPLACE(code_e, CHR(13) || CHR (10), '')           code_e,        REPLACE(code_f, CHR(13) || CHR (10), '')           code_f,        REPLACE(code_g, CHR(13) || CHR (10), '')           code_g,        REPLACE(code_h, CHR(13) || CHR (10), '')           code_h,        REPLACE(code_i, CHR(13) || CHR (10), '')           code_i,        REPLACE(code_j, CHR(13) || CHR (10), '')           code_j,        REPLACE(fa_object_type, CHR(13) || CHR (10), '')   fa_object_type,        REPLACE(account, CHR(13) || CHR (10), '')          account,        REPLACE(object_group_id, CHR(13) || CHR (10), '')  object_group_id,        REPLACE(main_object_id, CHR(13) || CHR (10), '')   main_object_id,        import_dummy ,        REPLACE(attribute_active, CHR(13) || CHR (10), '')            attribute_active,        REPLACE(override_depreciation_plan, CHR(13) || CHR (10), '')  override_depreciation_plan,        REPLACE(inherit_depr_plan, CHR(13) || CHR (10), '')           inherit_depr_plan,        REPLACE(inherit_final_depr_period, CHR(13) || CHR (10), '')   inherit_final_depr_period,        REPLACE(rotable_pool_object, CHR(13) || CHR (10), '')         rotable_pool_object,        TO_CHAR( rowversion , 'yyyy-mm-dd hh:mi:ss')                  rowversion ,        REPLACE(rowstate, CHR(13) || CHR (10), '')                   rowstate,        REPLACE(n_objective_division, CHR(13) || CHR (10), '')       n_objective_division,        REPLACE(n_acquisition_division, CHR(13) || CHR (10), '')     n_acquisition_division,        REPLACE(n_manu_division, CHR(13) || CHR (10), '')            n_manu_division,        REPLACE(n_no, CHR(13) || CHR (10), '')                       n_no,        REPLACE(n_auth_no, CHR(13) || CHR (10), '')                  n_auth_no,        REPLACE(n_plan_no, CHR(13) || CHR (10), '')                  n_plan_no,        REPLACE(n_dep_no, CHR(13) || CHR (10), '')                   n_dep_no,        REPLACE(n_customer, CHR(13) || CHR (10), '')                 n_customer,        REPLACE(n_free_field1, CHR(13) || CHR (10), '')              n_free_field1,        REPLACE(n_free_field2, CHR(13) || CHR (10), '')              n_free_field2  from IFSAPP.FA_OBJECT_TAB where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/CKP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T09:00:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}