pipeline/56_MOD_FA_BOOK_PER_OBJECT_TAB_ZL.json
{
	"name": "56_MOD_FA_BOOK_PER_OBJECT_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SOURCE_TO_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COMPANY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "company",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BOOK_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "book_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJECT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "object_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALVAGE_VALUE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "salvage_value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "DEPRECIATION_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "depreciation_start_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "START_YEAR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "start_year",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "START_PERIOD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "start_period",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "METHOD_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "method_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FULLY_DEPRECIATED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fully_depreciated",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SET_DURING_IMPORT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "set_during_import",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BUSINESS_USE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "business_use",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DEDUCTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "deduction",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BONUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bonus",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TAX_CREDIT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_credit",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TAX_CREDIT_REDUCTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_credit_reduction",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ALLOW_AUT_SWITCH_STA_PRIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "allow_aut_switch_sta_prin",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ESTIMATED_LIFE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "estimated_life",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALTERNATIVE_EST_LIFE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "alternative_est_life",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": "@pipeline().parameters.TABLENAME",
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": "@{pipeline().parameters.FACTORY}STG"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SOURCE_TO_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_MOD_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型,由于执行时间为12点，所以删除前一天的一天",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": "SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch            FROM [MOD].[FA_BOOK_PER_OBJECT_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "FA_BOOK_PER_OBJECT_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "MOD"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": " DELETE     FROM [MOD].[FA_BOOK_PER_OBJECT_TAB]     WHERE EXISTS(SELECT TOP 1 1                  FROM [MODSTG].[FA_BOOK_PER_OBJECT_TAB]                  WHERE [MODSTG].[FA_BOOK_PER_OBJECT_TAB].[COMPANY] = [MOD].[FA_BOOK_PER_OBJECT_TAB].[COMPANY]                  AND   [MODSTG].[FA_BOOK_PER_OBJECT_TAB].[BOOK_ID] = [MOD].[FA_BOOK_PER_OBJECT_TAB].[BOOK_ID]                  AND   [MODSTG].[FA_BOOK_PER_OBJECT_TAB].[OBJECT_ID] = [MOD].[FA_BOOK_PER_OBJECT_TAB].[OBJECT_ID]                  )"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select REPLACE(company, CHR(13) || CHR(10), '') company,        REPLACE(book_id, CHR(13) || CHR(10), '') book_id,        REPLACE(object_id, CHR(13) || CHR(10), '') object_id,        salvage_value,        TO_CHAR(depreciation_start_date, 'yyyy-mm-dd hh:mi:ss') depreciation_start_date,        start_year,        start_period,        REPLACE(method_id, CHR(13) || CHR(10), '') method_id,        REPLACE(fully_depreciated, CHR(13) || CHR(10), '') fully_depreciated,        REPLACE(set_during_import, CHR(13) || CHR(10), '') set_during_import,        business_use,        deduction,        bonus,        tax_credit,        tax_credit_reduction,        REPLACE(allow_aut_switch_sta_prin, CHR(13) || CHR(10), '') allow_aut_switch_sta_prin,        REPLACE(estimated_life, CHR(13) || CHR(10), '') estimated_life,        REPLACE(alternative_est_life, CHR(13) || CHR(10), '') alternative_est_life,        TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') rowversion    from IFSAPP.FA_BOOK_PER_OBJECT_TAB  where TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/MODP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T09:00:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}