pipeline/57_MOD_CUSTOMER_ORDER_TAB_ZL.json
{
	"name": "57_MOD_CUSTOMER_ORDER_TAB_ZL",
	"properties": {
		"activities": [
			{
				"name": "GETMAXBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delete_2days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.GetMAXDateSQL",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetSTGSQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GETMAXBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STGSQL_BATH",
					"value": {
						"value": "@{pipeline().parameters.STGSQL}'@{activity('GETMAXBatch').output.firstRow.batch}'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SourceToBLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetSTGSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@variables('STGSQL_BATH')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_MOD_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SourceToBLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": "@pipeline().parameters.FACTORY",
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_TO_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "if   object_id('@{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}') is not null  \n  truncate table @{pipeline().parameters.FACTORY}STG.@{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTHORIZE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "authorize_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_ADDR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_addr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "country_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRE_ACCOUNTING_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pre_accounting_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO_PAY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no_pay",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO_PAY_ADDR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no_pay_addr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_TERMS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_terms",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DISTRICT_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "district_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LANGUAGE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "language_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MARKET_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "market_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CALC_DISC_BONUS_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "calc_disc_bonus_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ORDER_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINT_CONTROL_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "print_control_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REGION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "region_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALESMAN_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "salesman_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_ADDR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_addr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_VIA_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_via_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALLOW_BACKORDERS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "allow_backorders",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CR_STOP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cr_stop",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_PO_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_po_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUST_REF",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cust_ref",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DATE_ENTERED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date_entered",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DELIVERY_LEADTIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_leadtime",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DELIVERY_TERMS_DESC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_terms_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FORWARD_AGENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "forward_agent",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LABEL_NOTE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "label_note",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_CONF",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_conf",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_CONF_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_conf_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACK_LIST_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pack_list_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PICK_LIST_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pick_list_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_VIA_DESC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_via_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VAT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vat",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WANTED_DELIVERY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "wanted_delivery_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "INTERNAL_PO_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "internal_po_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAY_TERM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pay_term_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROUTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "route_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_CONSIGNMENT_CREATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_consignment_creation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AGREEMENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "agreement_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FORWARD_AGENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "forward_agent_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERNAL_DELIVERY_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "internal_delivery_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXTERNAL_REF",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "external_ref",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROJECT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "project_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STAGED_BILLING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "staged_billing",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SM_CONNECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sm_connection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCHEDULING_CONNECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "scheduling_connection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRIORITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "priority",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "INTRASTAT_EXEMPT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "intrastat_exempt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDITIONAL_DISCOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "additional_discount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PAY_TERM_BASE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pay_term_base_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "SUMMARIZED_SOURCE_LINES",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "summarized_source_lines",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CANCEL_REASON",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cancel_reason",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowstate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "JS_INVOICE_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "js_invoice_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRICE_WITH_TAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_with_tax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_PRICE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_price_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_COMPARE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_compare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_CONFIRM_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_confirm_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": "@pipeline().parameters.TABLENAME",
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_TO_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete_2days",
				"description": "由于时间戳数仓中的类型为date 类型,由于执行时间为12点，所以删除前一天的一天",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "delete from @{pipeline().parameters.FACTORY}.@{pipeline().parameters.TABLENAME} where rowversion >=  CONVERT(date, dateadd(hh,-32,GETDATE()))\n\n\n\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"GetMAXDateSQL": {
				"type": "string",
				"defaultValue": " SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch FROM [MOD].[CUSTOMER_ORDER_TAB]"
			},
			"TABLENAME": {
				"type": "string",
				"defaultValue": "CUSTOMER_ORDER_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "MOD"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": " DELETE FROM [MOD].[CUSTOMER_ORDER_TAB] WHERE EXISTS(SELECT TOP 1 1              FROM [MODSTG].[CUSTOMER_ORDER_TAB]              WHERE [MODSTG].[CUSTOMER_ORDER_TAB].[ORDER_NO] =                    [MOD].[CUSTOMER_ORDER_TAB].[ORDER_NO] )"
			},
			"STGSQL": {
				"type": "string",
				"defaultValue": "select REPLACE(order_no, CHR(13) || CHR(10), '') order_no,        REPLACE(authorize_code, CHR(13) || CHR(10), '') authorize_code,        REPLACE(contract, CHR(13) || CHR(10), '') contract,        REPLACE(bill_addr_no, CHR(13) || CHR(10), '') bill_addr_no,        REPLACE(country_code, CHR(13) || CHR(10), '') country_code,        pre_accounting_id,        REPLACE(customer_no, CHR(13) || CHR(10), '') customer_no,        REPLACE(customer_no_pay, CHR(13) || CHR(10), '') customer_no_pay,        REPLACE(customer_no_pay_addr_no, CHR(13) || CHR(10), '') customer_no_pay_addr_no,        REPLACE(delivery_terms, CHR(13) || CHR(10), '') delivery_terms,        REPLACE(district_code, CHR(13) || CHR(10), '') district_code, REPLACE(language_code, CHR(13) || CHR(10), '') language_code,        REPLACE(addr_flag, CHR(13) || CHR(10), '') addr_flag,        REPLACE(market_code, CHR(13) || CHR(10), '') market_code,        REPLACE(calc_disc_bonus_flag, CHR(13) || CHR(10), '') calc_disc_bonus_flag,        note_id,        REPLACE(order_code, CHR(13) || CHR(10), '') order_code,        REPLACE(order_id, CHR(13) || CHR(10), '') order_id,        REPLACE(print_control_code, CHR(13) || CHR(10), '') print_control_code,        REPLACE(note_text, CHR(13) || CHR(10), '') note_text,        REPLACE(region_code, CHR(13) || CHR(10), '') region_code, REPLACE(salesman_code, CHR(13) || CHR(10), '') salesman_code,        REPLACE(ship_addr_no, CHR(13) || CHR(10), '') ship_addr_no,        REPLACE(ship_via_code, CHR(13) || CHR(10), '') ship_via_code,        REPLACE(allow_backorders, CHR(13) || CHR(10), '') allow_backorders,        REPLACE(delivery_type, CHR(13) || CHR(10), '') delivery_type,        REPLACE(cr_stop, CHR(13) || CHR(10), '') cr_stop,        REPLACE(customer_po_no, CHR(13) || CHR(10), '') customer_po_no,        REPLACE(cust_ref, CHR(13) || CHR(10), '') cust_ref,        TO_CHAR(date_entered, 'yyyy-mm-dd hh:mi:ss') date_entered,        delivery_leadtime,        REPLACE(delivery_terms_desc, CHR(13) || CHR(10), '') delivery_terms_desc,        REPLACE(forward_agent, CHR(13) || CHR(10), '') forward_agent,        REPLACE(label_note, CHR(13) || CHR(10), '') label_note,        REPLACE(order_conf, CHR(13) || CHR(10), '') order_conf,        REPLACE(order_conf_flag, CHR(13) || CHR(10), '') order_conf_flag, REPLACE(pack_list_flag, CHR(13) || CHR(10), '') pack_list_flag,        REPLACE(pick_list_flag, CHR(13) || CHR(10), '') pick_list_flag,        REPLACE(ship_via_desc, CHR(13) || CHR(10), '') ship_via_desc,        REPLACE(vat, CHR(13) || CHR(10), '') vat,        TO_CHAR(wanted_delivery_date, 'yyyy-mm-dd hh:mi:ss') wanted_delivery_date,        REPLACE(internal_po_no, CHR(13) || CHR(10), '') internal_po_no,        REPLACE(currency_code, CHR(13) || CHR(10), '') currency_code,        REPLACE(pay_term_id, CHR(13) || CHR(10), '') pay_term_id,        REPLACE(route_id, CHR(13) || CHR(10), '') route_id,        REPLACE(order_consignment_creation, CHR(13) || CHR(10), '') order_consignment_creation, REPLACE(agreement_id, CHR(13) || CHR(10), '') agreement_id,        REPLACE(forward_agent_id, CHR(13) || CHR(10), '') forward_agent_id,        REPLACE(internal_delivery_type, CHR(13) || CHR(10), '') internal_delivery_type,        REPLACE(external_ref, CHR(13) || CHR(10), '') external_ref,        REPLACE(project_id, CHR(13) || CHR(10), '') project_id,        REPLACE(staged_billing, CHR(13) || CHR(10), '') staged_billing,        REPLACE(sm_connection, CHR(13) || CHR(10), '') sm_connection,        REPLACE(scheduling_connection, CHR(13) || CHR(10), '') scheduling_connection,        priority,        REPLACE(intrastat_exempt, CHR(13) || CHR(10), '') intrastat_exempt,        additional_discount,        TO_CHAR(pay_term_base_date, 'yyyy-mm-dd hh:mi:ss') pay_term_base_date,        REPLACE(summarized_source_lines, CHR(13) || CHR(10), '') summarized_source_lines,        REPLACE(cancel_reason, CHR(13) || CHR(10), '') cancel_reason,        REPLACE(rowstate, CHR(13) || CHR(10), '') rowstate,        TO_CHAR(rowversion, 'yyyy-mm-dd hh:mi:ss') rowversion,        REPLACE(js_invoice_type, CHR(13) || CHR(10), '') js_invoice_type,        REPLACE(price_with_tax, CHR(13) || CHR(10), '') price_with_tax,        TO_CHAR(n_price_date, 'yyyy-mm-dd hh:mi:ss') n_price_date,        REPLACE(n_compare_flag, CHR(13) || CHR(10), '') n_compare_flag,        REPLACE(n_confirm_flag, CHR(13) || CHR(10), '') n_confirm_flag   from IFSAPP.CUSTOMER_ORDER_TAB   where TO_CHAR(ROWVERSION, 'yyyy-mm-dd hh:mi:ss') >"
			}
		},
		"variables": {
			"STGSQL_BATH": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "IFS/MODP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T09:00:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}