pipeline/64_MOD_CUSTOMER_ORDER_LINE_TAB.json
{
	"name": "64_MOD_CUSTOMER_ORDER_LINE_TAB",
	"properties": {
		"activities": [
			{
				"name": "GetBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT CONVERT(NVARCHAR,ISNULL(max(CAST(ROWVERSION AS DATETIME)) ,'1900-01-01'),20) Batch\n   FROM [MOD].[CUSTOMER_ORDER_LINE_TAB]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SOURCE_TemPlate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IFS_TO_BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT  * FROM IFSAPP.CUSTOMER_ORDER_LINE_TAB WHERE \nTO_CHAR(ROWVERSION,'yyyy-mm-dd hh:mi:ss') >= '@{activity('GetBatch').output.firstRow.Batch}'",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IFS_MOD_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "BLOB_BAK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IFS_TO_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": "@pipeline().parameters.FACTORY",
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outfile_csv_bak",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							},
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_TO_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "BLOB_BAK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "TRUNCATE TABLE [MODSTG].[CUSTOMER_ORDER_LINE_TAB] ",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ORDER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REL_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rel_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_item_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CATALOG_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "catalog_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRE_ACCOUNTING_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pre_accounting_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BONUS_BASIS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bonus_basis",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "BONUS_VALUE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bonus_value",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NOTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ORDER_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_TOTAL_QTY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_total_qty",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_TOTAL_WEIGHT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_total_weight",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "NOTE_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "note_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORDER_DISCOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "order_discount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SALES_UNIT_MEAS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_meas",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRICE_CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_conv_factor",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "BASE_SALE_UNIT_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "base_sale_unit_price",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "BUY_QTY_DUE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "buy_qty_due",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CATALOG_DESC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "catalog_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QTY_TO_SHIP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_to_ship",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CATALOG_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "catalog_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "conv_factor",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "COST",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cost",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "DELIVERY_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DATE_ENTERED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date_entered",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "DISCOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "discount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PLANNED_DELIVERY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "planned_delivery_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "SUPPLY_SITE_DUE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply_site_due_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PLANNED_DUE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "planned_due_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PROMISED_DELIVERY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "promised_delivery_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "QTY_ASSIGNED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_assigned",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "QTY_INVOICED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_invoiced",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "QTY_ON_ORDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_on_order",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "QTY_RETURNED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_returned",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "QTY_SHIPDIFF",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_shipdiff",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "QTY_SHIPPED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_shipped",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "REAL_SHIP_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "real_ship_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "QTY_SHORT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_short",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "REVISED_QTY_DUE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revised_qty_due",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SALE_UNIT_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sale_unit_price",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SUPPLY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WANTED_DELIVERY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "wanted_delivery_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "QTY_PICKED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty_picked",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "VENDOR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vendor_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FEE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fee_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CURRENCY_RATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency_rate",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_PART_UNIT_MEAS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_part_unit_meas",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_PART_CONV_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_part_conv_factor",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_PART_BUY_QTY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_part_buy_qty",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CONSIGNMENT_STOCK",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignment_stock",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CLOSE_TOLERANCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "close_tolerance",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PRICE_LIST_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_list_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHARGED_ITEM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "charged_item",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEMAND_ORDER_REF1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "demand_order_ref1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEMAND_ORDER_REF2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "demand_order_ref2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEMAND_ORDER_REF3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "demand_order_ref3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEMAND_ORDER_REF4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "demand_order_ref4",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DEMAND_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "demand_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOP_CONNECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dop_connection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WARRANTY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "warranty",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CREATE_SM_OBJECT_OPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "create_sm_object_option",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PLANNED_SHIP_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "planned_ship_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PLANNED_SHIP_PERIOD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "planned_ship_period",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_ADDR_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_addr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "addr_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_ADDR_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_addr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROUTE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "route_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FORWARD_AGENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "forward_agent_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_VIA_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_via_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_VIA_DESC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_via_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_TERMS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_terms",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_TERMS_DESC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_terms_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DELIVERY_LEADTIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "delivery_leadtime",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "DISTRICT_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "district_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REGION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "region_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESIRED_QTY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "desired_qty",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PURCHASE_PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "purchase_part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STAGED_BILLING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "staged_billing",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VAT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vat",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORIGINAL_PART_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_part_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SM_CONNECTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sm_connection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUP_SM_CONTRACT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sup_sm_contract",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUP_SM_OBJECT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sup_sm_object",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_price",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PRICE_SOURCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CALC_CHAR_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "calc_char_price",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CHAR_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "char_price",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PRICE_FREEZE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_freeze",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOCK_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dock_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUB_DOCK_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sub_dock_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REF_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ref_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LOCATION_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "location_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONFIGURATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "configuration_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRICE_EFFECTIVITY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_effectivity_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CONFIGURED_LINE_PRICE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "configured_line_price_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "EARLIEST_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "earliest_start_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CTP_PLANNED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ctp_planned",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JOB_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "job_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUST_WARRANTY_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cust_warranty_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PRICE_SOURCE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_source_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTRASTAT_EXEMPT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "intrastat_exempt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRICE_UNIT_MEAS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price_unit_meas",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDITIONAL_DISCOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "additional_discount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "CONDITION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "condition_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PART_OWNERSHIP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "part_ownership",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNING_CUSTOMER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "owning_customer_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXCHANGE_ITEM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "exchange_item",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLY_SITE_RESERVE_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply_site_reserve_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORIGINATING_REL_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "originating_rel_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORIGINATING_LINE_ITEM_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "originating_line_item_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RELEASE_PLANNING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_planning",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLIER_SHIP_VIA_TRANSIT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supplier_ship_via_transit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLIER_SHIP_VIA_TRANSIT_DESC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supplier_ship_via_transit_desc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUPPLY_SITE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "supply_site",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CANCEL_REASON",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cancel_reason",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWSTATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowstate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROWVERSION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowversion",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "SALE_UNIT_PRICE_WITH_TAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sale_unit_price_with_tax",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "SALES_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ACR_WITH_SALES_POSTING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "acr_with_sales_posting",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "INVOICE_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "invoice_amount",
									"type": "Single",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "PREL_VOUCHER_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prel_voucher_no",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "N_CUST_RELEASE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_cust_release_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_PRICE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_price_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "N_PRICE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_price_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_COMPARE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_compare_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_CONFIRM_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_confirm_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "N_RECEIVE_NO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "n_receive_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CKM_WANTED_DELIVERY_TIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ckm_wanted_delivery_time",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "outfile_csv",
						"type": "DatasetReference",
						"parameters": {
							"FACTORY": "@pipeline().parameters.FACTORY",
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"SYSTEM": {
								"value": "@pipeline().parameters.SYSTEM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "STG_TO_ODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_TO_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.MERGE}",
							"type": "Expression"
						},
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@{pipeline().parameters.TABLENAME}",
								"type": "Expression"
							},
							"FACTORY": {
								"value": "@{pipeline().parameters.FACTORY}STG",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsODS",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": "@pipeline().parameters.TABLENAME",
							"FACTORY": {
								"value": "@pipeline().parameters.FACTORY",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"TABLENAME": {
				"type": "string",
				"defaultValue": "CUSTOMER_ORDER_LINE_TAB"
			},
			"FACTORY": {
				"type": "string",
				"defaultValue": "MOD"
			},
			"SYSTEM": {
				"type": "string",
				"defaultValue": "ifs"
			},
			"MERGE": {
				"type": "string",
				"defaultValue": " DELETE FROM [MOD].[CUSTOMER_ORDER_LINE_TAB]      WHERE EXISTS  (     SELECT TOP 1 1      FROM [MODSTG].[CUSTOMER_ORDER_LINE_TAB]       WHERE  [MODSTG].[CUSTOMER_ORDER_LINE_TAB].[ORDER_NO] = [MOD].[CUSTOMER_ORDER_LINE_TAB].[ORDER_NO]  AND [MODSTG].[CUSTOMER_ORDER_LINE_TAB].[LINE_NO] = [MOD].[CUSTOMER_ORDER_LINE_TAB].[LINE_NO]  AND [MODSTG].[CUSTOMER_ORDER_LINE_TAB].[REL_NO] = [MOD].[CUSTOMER_ORDER_LINE_TAB].[REL_NO]  AND [MODSTG].[CUSTOMER_ORDER_LINE_TAB].[LINE_ITEM_NO] = [MOD].[CUSTOMER_ORDER_LINE_TAB].[LINE_ITEM_NO])"
			}
		},
		"folder": {
			"name": "IFS/MODP"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T09:00:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}